<template>
  <router-link class="nav-links" :to="to" v-bind="$attrs">
    <div
      class="text-center bg-white shadow icon icon-shape icon-sm border-radius-md d-flex align-items-center justify-content-center"
      :class="this.$store.state.isRTL ? ' ms-2' : 'me-2'"
    >
      <slot name="icon"></slot>
    </div>
    <span
      class="nav-link-text"
      :class="this.$store.state.isRTL ? ' me-1' : 'ms-1'"
      >{{ navText }}</span
    >
  </router-link>
</template>
<script>
export default {
  name: "sidenav-collapse",
  props: {
    to: {
      type: [Object, String],
      required: true,
    },
    isActive:{
      type: Boolean,
      required: true,
    },
    navText: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      isExpanded: false,
    };
  },
};
</script>
<style scoped>
.nav-links{
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    margin: 0 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    
}
a:hover{
      /* font-family: sans-serif;
      color: #309261; */
}
.active{
  /* display: flex; 
      align-items: center;
      white-space: nowrap;
      padding-top: 0.675rem;
      padding-bottom: 0.675rem;
      margin: 0 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-family: sans-serif;
      /* color: #309261; */
      /* background-color: #fff;
      font-weight: 600;
      box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
      border-radius: 0.5rem; */ 
}
</style>
