<template>
  <div
    class="w-auto h-auto collapse navbar-collapse max-height-vh-100 h-100"
    id="sidenav-collapse-main"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <sidenav-collapse navText="Dashboard" :to="{ name: 'Dashboard' }">
          <template #icon>
            <shop />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item" v-if="role == 'ROLE_ADMIN'">
        <sidenav-collapse navText="Manajemen User" :to="{ name: 'ManajemenUser' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item" v-if="role == 'ROLE_ADMIN'">
        <sidenav-collapse navText="Master Jenis" :to="{ name: 'TableMasterjenis' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item" v-if="role == 'ROLE_ADMIN' || role == 'ROLE_USER'">
        <sidenav-collapse navText="Pelatihan" :to="{ name: 'ListPelatihan' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li>
      <div v-for="(list, index) in list_masterjenis" :key="index">
        <center v-if="list.nama != 'pelatihan'">
          --- {{ list.nama }} ---
        </center>
        <div  v-if="role == 'ROLE_ADMIN' || role == 'ROLE_USER'">
        <li class="nav-item" v-for="(listm, i) in list_menu" :key="i">
          <div v-if="list.nama != 'pelatihan'">
            <sidenav-collapse v-if="list.id === listm.masterJenisId" :navText="listm.nama" :to="(list.nama.toLowerCase() === 'keuangan')?{ name: 'TableKeuangan', query:{id:listm.id} }:{ name: 'TableSurat', query:{id:listm.id} }">
          
              <template #icon>
                <office />
              </template>
            </sidenav-collapse>
          </div>
      </li>
      </div>
      </div>
      
      
      <!-- <li class="nav-item" v-if="role == 'ROLE_USER'">
        <sidenav-collapse navText="ListUndian" :to="{ name: 'ListUndian' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li> -->
      <!-- <li class="nav-item" v-if="role == 'ROLE_USER'">
        <sidenav-collapse navText="Manajemen Peserta" :to="{ name: 'ListUndianTablePeserta' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li> -->
      <!-- <li class="nav-item" v-if="role == 'ROLE_USER'">
        <sidenav-collapse navText="MasterReward" :to="{ name: 'ListUndianTableReward' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
        <p>
  <button class="btn btn-primary" type="button" aria-expanded="false" @click="collapse=!collapse">
    Toggle width collapse
  </button>
</p>
<div style="min-height: 120px;" v-if="collapse">
  <div class="collapse collapse-horizontal show">
    <li class="nav-item" v-if="role == 'ROLE_USER'">
        <sidenav-collapse navText="Manajemen Peserta" :to="{ name: 'ListUndianTablePeserta' }">
          <template #icon>
            <office />
          </template>
        </sidenav-collapse>
      </li>
  </div>
</div>
      </li> -->
      <!-- <li class="nav-item">
        <sidenav-collapse navText="Billing" :to="{ name: 'Billing' }">
          <template #icon>
            <credit-card />
          </template>
        </sidenav-collapse>
      </li>

      <li class="nav-item">
        <sidenav-collapse
          navText="Virtual Reality"
          :to="{ name: 'Virtual Reality' }"
        >
          <template #icon>
            <box3d />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="RTL" :to="{ name: 'Rtl' }">
          <template #icon>
            <settings />
          </template>
        </sidenav-collapse>
      </li>
      <li class="mt-3 nav-item">
        <h6
          class="text-xs ps-4 text-uppercase font-weight-bolder opacity-6"
          :class="this.$store.state.isRTL ? 'me-4' : 'ms-2'"
        >
          PAGES
        </h6>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Profile" :to="{ name: 'Profile' }">
          <template #icon>
            <customer-support />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Sign In" :to="{ name: 'Sign In' }">
          <template #icon>
            <document />
          </template>
        </sidenav-collapse>
      </li>
      <li class="nav-item">
        <sidenav-collapse navText="Sign Up" :to="{ name: 'Sign Up' }">
          <template #icon>
            <spaceship />
          </template>
        </sidenav-collapse>
      </li> -->
    </ul>
  </div>
</template>
<script>
import SidenavCollapse from "./SidenavCollapse.vue";
import Shop from "../../components/Icon/Shop.vue";
import Office from "../../components/Icon/Office.vue";
import Swal from "sweetalert2/dist/sweetalert2.js";

import "sweetalert2/src/sweetalert2.scss";
  import { Actionmenu } from "@/store/list_menu/types";
  import { Actionmasterjenis } from "@/store/masterjenis/types";

export default {
  name: "SidenavList",
  props: {
    cardBg: String,
  },
  data() {
    return {
      list_masterjenis:[],
      list_menu:[],
      title: "SIDIKLAT PKUJ",
      controls: "dashboardsExamples",
      isActive: "active",
      role: localStorage.getItem('role'),
      collapse: false
    };
  },
  components: {
    SidenavCollapse,
    Shop,
    Office,
  },
  created(){
    this.getListMenu();
    this.getMasterJenis();
  },
  methods: {
    getRoute() {
      const routeArr = this.$route.path.split("/");
      return routeArr[1];
    },
    currentMenu(id){
      for (let index = 0; index < this.list_menu.length; index++) {
        const element = this.list_menu[index];
        if(element.id === id){
          this.list_menu[index].isActive = true;
        }
      }
    },
    async getListMenu() {
        try {
          Swal.showLoading();
          let res = await this.$store.dispatch(`${Actionmenu.getAllmenu}`);
          this.list_menu = await res.data;
          this.list_menu.forEach(element => {
            element.isActive = false;
          });
          this.list_menu.sort(function(a, b) {
              return a.urutan - b.urutan;
          });
          console.log(res);
          Swal.close();
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
      async getMasterJenis() {
        try {
          Swal.showLoading();
          let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
          this.list_masterjenis = await res.data;
          Swal.close();
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
  },
};
</script>
