<template>
  <nav
    class="shadow-none navbar navbar-main navbar-expand-lg border-radius-xl"
    v-bind="$attrs"
    id="navbarBlur"
    data-scroll="true"
  >
    <div class="px-3 py-1 container-fluid">
      <breadcrumbs :currentPage="currentRouteName" :textWhite="textWhite" />
      <div
        class="mt-2 collapse navbar-collapse mt-sm-0 me-md-0 me-sm-4"
        :class="this.$store.state.isRTL ? 'px-0' : 'me-sm-4'"
        id="navbar"
      >
      <div class="modal fade " id="modaltambahtahunpelatihan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Form tambah Menu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Nama</label>
          <soft-input
            :value="formpelatihan.nama"
            @myinput="myinputNama($event)"
            id="nama"
            type="nama"
            placeholder="Nama"
            name="nama"
          />
          <label>Jenis Menu</label>
          <select class="form-select" aria-label="Select jenis pelatihan" v-model="formpelatihan.masterJenisId">
            <option v-for="(list, index) in masterjeniss" :key="index" :value="list.id">{{ list.nama }}</option>
          </select>
          <label>Urutan</label>
          <soft-input
            :value="formpelatihan.urutan"
            @myinput="myinputUrutan($event)"
            id="urutan"
            type="urutan"
            placeholder="Urutan"
            name="urutan"
          />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click="postPelatihan()">Save changes</button>
      </div>
    </div>
  </div>
</div>

      <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="success" data-bs-toggle="modal" data-bs-target="#modaltambahtahunpelatihan"
          >Tambah Menu
        </soft-button>
        <div
          class="pe-md-3 d-flex align-items-center"
          :class="this.$store.state.isRTL ? 'me-md-auto' : 'ms-md-auto'"
        >
          <div class="input-group">
            <span class="input-group-text text-body"
              ><i class="fas fa-search" aria-hidden="true"></i
            ></span>
            <input
              type="text"
              class="form-control"
              :placeholder="
                this.$store.state.isRTL ? 'أكتب هنا...' : 'Type here...'
              "
            />
          </div>
        </div>
        <ul class="navbar-nav justify-content-end">
          <li
            class="nav-item dropdown d-flex align-items-center"
            :class="this.$store.state.isRTL ? 'ps-2' : 'pe-2'"
          >
            <a
              href="#"
              class="p-0 nav-link"
              :class="[
                textWhite ? textWhite : 'text-body',
                showMenu ? 'show' : '',
              ]"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              @click="showMenu = !showMenu"
            >
              <i
                class="fa fa-user"
                :class="this.$store.state.isRTL ? 'ms-sm-2' : 'me-sm-1'"
              ></i>
              <span v-if="this.$store.state.isRTL" class="d-sm-inline d-none"
                >يسجل دخول</span
              >
              <span v-else class="d-sm-inline d-none">{{getName}} </span>
            </a>
            <ul
              class="px-2 py-3 dropdown-menu dropdown-menu-end me-sm-n4"
              :class="showMenu ? 'show' : ''"
              aria-labelledby="dropdownMenuButton"
            >
              <li class="mb-2">
                <span class="font-weight-bold" @click="logOut()">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="py-1 d-flex">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-1 text-sm font-weight-normal">
                        Logout
                      </h6>
                    </div>
                  </div>
                </a>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import Breadcrumbs from "../Breadcrumbs.vue";
import { mapMutations, mapActions } from "vuex";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftButton from "@/components/SoftButton.vue";
import SoftInput from "@/components/SoftInput.vue";
import { Actionmenu } from "@/store/list_menu/types";

import "sweetalert2/src/sweetalert2.scss";
import { Actionmasterjenis } from "@/store/masterjenis/types";

export default {
  name: "navbar",
  data() {
    return {
      role: localStorage.getItem('role'),
      formpelatihan:{
        nama:"",
        urutan:"",
        masterJenisId:""
      },
      masterjeniss:[],
      showMenu: false,
    };
  },
  props: ["minNav", "textWhite"],
  created() {
    this.minNav;
    this.getAllMasterjenis()
  },
  methods: {
    async getAllMasterjenis() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
        this.masterjeniss = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    myinputNama(isi){
        console.log(isi);
        this.formpelatihan.nama=isi;
      },
      myinputUrutan(isi){
        console.log(isi);
        this.formpelatihan.urutan=isi;
      },
      async postPelatihan() {
        try {
            Swal.showLoading();
            let res = await this.$store.dispatch(`${Actionmenu.postmenu}`, this.formpelatihan);
            console.log(res);
            location.reload();
            Swal.close();
        
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    async logOut(){
      console.log("cek");
      localStorage.clear();
      await this.$router.push({name: 'Sign In'})
    },
    ...mapMutations(["navbarMinimize", "toggleConfigurator"]),
    ...mapActions(["toggleSidebarColor"]),

    toggleSidebar() {
      this.toggleSidebarColor("bg-white");
      this.navbarMinimize();
    },
  },
  components: {
    Breadcrumbs,
    SoftButton,
    SoftInput
  },
  computed: {
    getName(){
      return localStorage.getItem("nama")
    },
    currentRouteName() {
      return this.$route.name;
    },
  },
  
  updated() {
    const navbar = document.getElementById("navbarBlur");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 10 && this.$store.state.isNavFixed) {
        navbar.classList.add("blur");
        navbar.classList.add("position-sticky");
        navbar.classList.add("shadow-blur");
      } else {
        navbar.classList.remove("blur");
        navbar.classList.remove("position-sticky");
        navbar.classList.remove("shadow-blur");
      }
    });
  },
};
</script>
