<template>
    <div class="card mb-4">
        <div class="card-header pb-0">
            <div>


            </div>
            <h6>List Tahun Pelatihan</h6>
            
            <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info"
                @click="statForm = !statForm">Tambah Pelatihan
            </soft-button>
            <div class="card-body" v-if="statForm">
                <label>nama</label>
                <soft-input :value="menu.nama" @myinput="myinputSubname($event)" id="name" type="text" placeholder="name"
                    name="name" />
                <label>Urutan</label>
                <soft-input :value="menu.urutan" @myinput="myinputSubUrutan($event)" id="ururtan" type="text"
                    placeholder="ururtan" name="ururtan" />
                <div class="text-center">
                    <soft-button class="my-4 mb-2" variant="gradient" color="success" full-width
                        @click="postPelatihan()">Simpan
                    </soft-button>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-2
                  ">
                                No.
                            </th>
                            <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                                Tahun Pelatihan
                            </th>

                            <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-10
                  ">Aksi
                            </th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(list, index) in listmenu" :key="index">
                            <td>
                                <p class="text-xs text-secondary mb-0">{{ list.urutan }}</p>
                            </td>
                            <td>
                                <div class="d-flex px-2 py-1">

                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ list.nama }}</h6>

                                    </div>
                                </div>
                            </td>

                            <td class="align-middle" style="padding-left:10%;">
                                <div>
                                    <soft-button style="margin-right: 2%" class="my-4 mb-2"
                                        size="sm" color="info" @click="toPage(list.id, 'DaftarPelatihan')">View
                                    </soft-button>
                                    <soft-button v-if="role == 'ROLE_ADMIN'" style="margin-right: 2%" class="my-4 mb-2"
                                        size="sm" color="warning" @click="formEdit(list)">Edit
                                    </soft-button>
                                    <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="danger"
                                        @click="formDelete(list.id)">Delete
                                    </soft-button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
  
<script>
import img1 from "../../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";
import "sweetalert2/src/sweetalert2.scss";
import { Actionmenu } from "@/store/list_menu/types";
import { Actionsubmenu } from "@/store/sub_menu/types";
import { Actionmasterjenis } from "@/store/masterjenis/types";


export default {
    name: "com-table-pelatihan",
    data() {
        return {
            statForm: false,
            users: [],
            role: localStorage.getItem('role'),
            submenu: {
                nama: '',
                urutan: '',
                menuId: '',
            },
            listmenu: [],
            masterjeniss: [],
            menu: {
                nama: "",
                urutan: "",
                masterJenisId: null
            },
            img1,
        };
    },
    components: {
        SoftInput,
        SoftButton,
    },
    watch: {
        '$route.params.id': {
            handler: function () {
                this.statForm = false;
                this.getAllSubMenu();
            },
            deep: true,
            immediate: true
        }
    },
    created() {
        this.getAllMasterjenis()
    },
    methods: {
        generateDataProfil() {
      var data = [
            this.regexHtml(this.forms.formProfil.tujuan),
            this.regexHtml(String(this.forms.formProfil.tahun)),
            this.regexHtml(this.formatRp(this.forms.formProfil.anggaran)),
            this.regexHtml(this.forms.formProfil.sop),
            this.regexHtml(this.forms.formProfil.pihakTerkait),
            this.regexHtml(this.forms.formProfil.peraturanRelevan),
            this.regexHtml(this.forms.visi),
            this.regexHtml(this.forms.misi),
      ];
      console.log(data);
      return data;
    },
       
        async getAllMasterjenis() {
            try {
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
                this.masterjeniss = await res.data;
                console.log(res);
                Swal.close();
            } catch (error) {
                Swal.fire({
                    title: "Error! " + error,
                    text: "Do you want to continue",
                    icon: "error",
                    confirmButtonText: "Close",
                });
            }
        },
        toPage(id, name) {
            this.$router.push({ name: name, query: { id: id } });
        },
        myinputNama(isi) {
            console.log(isi);
            // this.menu.nama=isi;
        },
        myinputUrutan(isi) {
            console.log(isi);
            // this.menu.urutan=isi;
        },
        myinputSubname(isi) {
            console.log(isi);
            this.menu.nama = isi;
        },
        myinputSubUrutan(isi) {
            console.log(isi);
            this.menu.urutan = isi;
        },
        async delPelatihan() {
            Swal.fire({
                title: "Do you want to delete?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "delete",
                denyButtonText: `Don't delete`
            }).then(async (result) => {
                console.log(result);
                console.log("result ==========>");
                /* Read more about isConfirmed, isDenied below */
                if (result.value) {
                    try {
                        Swal.showLoading();
                        let res = await this.$store.dispatch(`${Actionmenu.delmenu}`, this.menu.id);
                        console.log(res);
                        location.reload();
                        Swal.close();
                    } catch (error) {
                        Swal.fire({
                            title: "Error! " + error,
                            text: "Do you want to continue",
                            icon: "error",
                            confirmButtonText: "Close",
                        });
                    }
                    Swal.fire("delete!", "", "success");
                } else if (result.isDenied) {
                    Swal.fire("Changes are not deleted", "", "info");
                }
            });

        },
        async formDelete(id) {
            Swal.fire({
                title: "Do you want to delete?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "delete",
                denyButtonText: `Don't delete`
            }).then(async (result) => {
                console.log(result);
                console.log("result ==========>");
                /* Read more about isConfirmed, isDenied below */
                if (result.value) {
                    try {
                        Swal.showLoading();
                        let res = await this.$store.dispatch(`${Actionmenu.delmenu}`, id);
                        console.log(res);
                        this.getAllSubMenu();
                        Swal.close();
                    } catch (error) {
                        Swal.fire({
                            title: "Error! " + error,
                            text: "Do you want to continue",
                            icon: "error",
                            confirmButtonText: "Close",
                        });
                    }
                    Swal.fire("delete!", "", "success");
                } else if (result.isDenied) {
                    Swal.fire("Changes are not deleted", "", "info");
                }
            });

        },
        formEdit(isi) {
            console.log(isi.id);
            this.statForm = true;
            this.menu = isi;
        },
        async putSubMenu(isi) {
            try {
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actionsubmenu.putsubmenu}`, isi);
                console.log(res);
                this.statForm = await false;
                this.submenu.id = await null;
                await this.getAllSubMenu();
                Swal.close();
            } catch (error) {
                Swal.fire({
                    title: "Error! " + error,
                    text: "Do you want to continue",
                    icon: "error",
                    confirmButtonText: "Close",
                });
            }
        },
        async postPelatihan() {
            try {
                if (this.menu.id === null || this.menu.id === undefined) {
                    Swal.showLoading();
                    console.log(this.menu);
                    console.log("this.menu");
                    let res = await this.$store.dispatch(`${Actionmenu.postmenu}`, this.menu);
                    console.log(res);
                    this.statForm = await false;
                    // location.reload();
                    this.getAllSubMenu();
                    Swal.close();
                } else {
                    this.putPelatihan(this.menu);
                }

            } catch (error) {
                Swal.fire({
                    title: "Error! " + error,
                    text: "Do you want to continue",
                    icon: "error",
                    confirmButtonText: "Close",
                });
            }
        },
        async postSubMenu() {
            try {
                if (this.submenu.id === null || this.submenu.id === undefined) {
                    Swal.showLoading();
                    this.submenu.menuId = await this.menu.id;
                    let res = await this.$store.dispatch(`${Actionsubmenu.postsubmenu}`, this.submenu);
                    console.log(res);
                    this.statForm = false;
                    this.getAllSubMenu();
                    Swal.close();
                } else {
                    this.putSubMenu(this.submenu);
                }

            } catch (error) {
                Swal.fire({
                    title: "Error! " + error,
                    text: "Do you want to continue",
                    icon: "error",
                    confirmButtonText: "Close",
                });
            }
        },
        async putPelatihan() {
            try {
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actionmenu.putmenu}`, this.menu);
                console.log(res);
                location.reload();
                Swal.close();

            } catch (error) {
                Swal.fire({
                    title: "Error! " + error,
                    text: "Do you want to continue",
                    icon: "error",
                    confirmButtonText: "Close",
                });
            }
        },

        async getAllSubMenu() {
            try {
                console.log(this.$route.query.id);
                console.log(" =====>");
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actionmenu.getAllmenuPelatihan}`);
                this.listmenu = await res.data;
                console.log(res);
                Swal.close();
            } catch (error) {
                Swal.fire({
                    title: "Error! " + error,
                    text: "Do you want to continue",
                    icon: "error",
                    confirmButtonText: "Close",
                });
            }
        },
    },
};
</script>
  