<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <h6>Manajemen Masterjenis</h6>
      <soft-button class="my-4 mb-2" size="sm" color="info" @click="statFormMasterjenis = !statFormMasterjenis"
        >Tambah Masterjenis
      </soft-button>
      <div class="card-body" v-if="statFormMasterjenis">
        <label>Masterjenisname</label>
        <label>Name</label>
        <soft-input
          :value="formMasterjenis.nama"
          @myinput="myinputName($event)"
          id="name"
          type="name"
          placeholder="Name"
          name="name"
        />
        
        <div class="text-center">
          <soft-button
            class="my-4 mb-2"
            variant="gradient"
            color="success"
            full-width
            @click="postMasterjenis()"
            >Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Nama
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Masterjenisname
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in masterjeniss" :key="index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama }}</h6>
                  
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">Masterjenis</p>
                <p class="text-xs text-secondary mb-0">{{ list.masterjenisname }}</p>
              </td>
              <td class="align-middle">
                <div>
                  <soft-button
                    style="margin-right: 2%"
                    class="my-4 mb-2"
                    size="sm"
                    color="warning"
                    @click="formEdit(list)"
                    >Edit
                  </soft-button>
                  <soft-button
                    class="my-4 mb-2"
                    size="sm"
                    color="danger"
                    @click="delMasterjenis(list.id)"
                    >Delete
                  </soft-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import img1 from "../../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";

import "sweetalert2/src/sweetalert2.scss";
import { Actionmasterjenis } from "@/store/masterjenis/types";

export default {
  name: "com-table-masterjenis",
  data() {
    return {
      statFormMasterjenis:false,
      masterjeniss: [],
      formMasterjenis:{
        masterjenisname:'',
        nama:'',
      },
      img1,
    };
  },
  components: {
    SoftInput,
    SoftButton,
  },
  created() {
    this.getAllMasterjenis();
  },
  methods: {
    formEdit(isi){
      console.log(isi.id);
      this.statFormMasterjenis = true;
      this.formMasterjenis = isi;
      this.formMasterjenis.roles=isi.roles[0].name;
    },
    myinputMasterjenisname(isi){
      console.log(isi);
      this.formMasterjenis.masterjenisname=isi;
    },
    myinputName(isi){
      console.log(isi);
      this.formMasterjenis.nama=isi;
    },
    myinputEmail(isi){
      console.log(isi);
      this.formMasterjenis.email=isi;
    },
    myinputPass(isi){
      console.log(isi);
      this.formMasterjenis.password=isi;
    },
    async postMasterjenis() {
      try {
        console.log("siniii");
        console.log(this.formMasterjenis.id);
        if(this.formMasterjenis.id === undefined || this.formMasterjenis.id === null){
          Swal.showLoading();
          console.log("masukkkkk");
          let res = await this.$store.dispatch(`${Actionmasterjenis.postmasterjenis}`, this.formMasterjenis);
          console.log(res);
          await this.getAllMasterjenis();
          this.statFormMasterjenis=await false;
          Swal.close();
        }else{
          this.putMasterjenis(this.formMasterjenis);
        }
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async delMasterjenis(id) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.delmasterjenis}`,id);
        console.log(res);
        this.formMasterjenis.id = await null;
        await this.getAllMasterjenis();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putMasterjenis(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.putmasterjenis}`,isi);
        console.log(res);
        this.statFormMasterjenis=await false;
        this.formMasterjenis.id = await null;
        await this.getAllMasterjenis();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async getAllMasterjenis() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
        this.masterjeniss = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>
