<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <div>
        <div style="display: flex; align-items: center;
    white-space: nowrap;">
          <h8>Pelatihan: {{ menu.nama }}</h8>
          <soft-button class="my-2 mb-2 m-2" style="display: flex;" size="sm" color="info"
            @click="downloadPdfAnalisis()">Download Pdf
          </soft-button>
        </div>

        <div class="modal fade " id="modalEditTahun" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Form tambah Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label>Nama</label>
                <soft-input :value="menu.nama" @myinput="myinputNama($event)" id="nama" type="nama" placeholder="Nama"
                  name="nama" />
                <label>Jenis Menu</label>
                <select class="form-select" aria-label="Select jenis menu" v-model="menu.masterJenisId">
                  <option v-for="(list, index) in masterjeniss" :key="index" :value="list.id">{{ list.nama }}</option>
                </select>
                <label>Urutan</label>
                <soft-input :value="menu.urutan" @myinput="myinputUrutan($event)" id="urutan" type="urutan"
                  placeholder="Urutan" name="urutan" />

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="putPelatihan()">Save changes</button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <h6>List Sub Menu</h6>
      <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info"
        @click="statFormSubMenu = !statFormSubMenu">Tambah Sub Menu
      </soft-button>
      <div class="card-body" v-if="statFormSubMenu">
        <label>nama</label>
        <soft-input :value="submenu.nama" @myinput="myinputSubname($event)" id="name" type="name" placeholder="name"
          name="name" />
          <label>Tanggal Pelaksanaan</label>
          <br>
          <flat-pickr v-model="submenu.tanggal_pelaksanaan"/>
          <br>
        <label>Urutan</label>
        <soft-input :value="submenu.urutan" @myinput="myinputSubUrutan($event)" id="ururtan" type="ururtan"
          placeholder="ururtan" name="ururtan" />
        <div class="text-center">
          <soft-button class="my-4 mb-2" variant="gradient" color="success" full-width @click="postSubMenu()">Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            
            <tr>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-2
                  ">
                No.
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Nama Sub Menu
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Tanggal Pelaksanaan
              </th>
              
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-2
                  ">
                List Menu
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-10
                  ">Aksi
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in menu.sub_menus" :key="index">
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.urutan }}</p>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ moment(list.tanggal_pelaksanaan) }}</h6>

                  </div>
                </div>
              </td>
              
              <td>
                <div class="row">
                  <soft-button style="margin-right: 2%" class="my-2 mb-2" size="sm" color="info"
                    @click="toPage(list.id, 'TableNarasumber')">Data Narasumber
                  </soft-button>
                </div>
                <div class="row">
                  <soft-button style="margin-right: 2%" class="my-2 mb-2" size="sm" color="info"
                    @click="toPage(list.id, 'TablePeserta')">Data Peserta
                  </soft-button>
                </div>
                <div class="row">
                  <soft-button style="margin-right: 2%" class="my-2 mb-2" size="sm" color="info"
                    @click="toPage(list.id, 'TableKurikulum')">Data Kurikulum
                  </soft-button>
                </div>
                <div class="row">
                  <soft-button style="margin-right: 2%" class="my-2 mb-2" size="sm" color="info"
                    @click="toPage(list.id, 'TableMot')">Data Mot
                  </soft-button>
                </div>
                <div class="row">
                  <soft-button style="margin-right: 2%" class="my-2 mb-2" size="sm" color="info"
                    @click="toPage(list.id, 'TableDokumentasi')">Data Dokumentasi
                  </soft-button>
                </div>
                <div class="row">
                  <soft-button style="margin-right: 2%" class="my-2 mb-2" size="sm" color="info"
                    @click="toPage(list.id, 'TableSertifikat')">Data E-Sertifikat
                  </soft-button>
                </div>
              </td>

              <td class="align-middle" style="padding-left:10%;">
                <div>
                  <soft-button v-if="role == 'ROLE_ADMIN'" style="margin-right: 2%" class="my-4 mb-2" size="sm"
                    color="warning" @click="formEdit(list)">Edit
                  </soft-button>
                  <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="danger"
                    @click="formDelete(list.id)">Delete
                  </soft-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
  
<script>
import img1 from "../../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";
import "sweetalert2/src/sweetalert2.scss";
import { Actionmenu } from "@/store/list_menu/types";
import { Actionsubmenu } from "@/store/sub_menu/types";
import { Actionmasterjenis } from "@/store/masterjenis/types";
import { jsPDF } from "jspdf";
import autoTable from 'jspdf-autotable';
import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import moment from "moment";

export default {
  name: "com-table-pelatihan",
  data() {
    return {
      statFormSubMenu: false,
      users: [],
      role: localStorage.getItem('role'),
      submenu: {
        nama: '',
        urutan: '',
        tanggal_pelaksanaan:"",
        menuId: '',
      },
      masterjeniss: [],
      menu: {},
      img1,
    };
  },
  computed:{
    moment(){
      return val =>{
        moment.locale("id");
      return moment(val).format("dddd") + ", " + moment(val).format("LL");
      }
      
    }
  },
  components: {
    SoftInput,
    SoftButton,
    flatPickr
  },
  watch: {
    '$route.params.id': {
      handler: function () {
        this.statFormSubMenu = false;
        this.getAllSubMenu();
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    this.getAllMasterjenis()
  },
  methods: {
    addZero(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    },
    generateDataProfil() {
      let result = [];
      for (let index = 0; index < this.menu.sub_menus.length; index++) {
        const element = this.menu.sub_menus[index];
        var data = [
          element.nama,
          element.tanggal_pelaksanaan,
          this.menu.nama
        ];
        result.push(data);
      }

      return result;
    },
    downloadPdfAnalisis() {
      var d = new Date();
      console.log(d.getMonth() + 1);
      var h = this.addZero(d.getHours());
      var m = this.addZero(d.getMinutes());
      var headersProfil = [
        "Nama Pelatihan",
        "Tanggal Pelaksanaan",
        "Tahun",
      ];

      var doc = new jsPDF({ putOnlyUsedFonts: true, orientation: "landscape", });
      doc.setFontSize(8);
      doc.text(
        "Tanggal Download " +
        d.getDate() +
        "/" +
        (d.getMonth() + 1) +
        "/" +
        d.getFullYear() +
        " " +
        h +
        ":" +
        m,
        294,
        5,
        null,
        null,
        "right"
      );
      autoTable(doc, {
        margin: { top: 30 },
        body: [
          [{
            content: "Pelatihan " +
              this.menu.nama, styles: { halign: 'center', fontSize: 18, font: 'helvetica', fontStyle: 'bold' }
          }],
        ],
      })

      let isiProfil = this.generateDataProfil();
      autoTable(doc, {
        theme: 'grid',
        styles: { halign: 'justify', cellPadding: 3 },
        headStyles: { fillColor: [0, 0, 0], halign: 'justify' },
        margin: { top: 25 },
        head: [headersProfil],
        body: isiProfil,
      })

      doc.save("pelatihan.pdf");
    },
    async getAllMasterjenis() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
        this.masterjeniss = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    toPage(id, name) {
      this.$router.push({ name: name, query: { id: id } });
    },
    myinputNama(isi) {
      console.log(isi);
      this.menu.nama = isi;
    },
    myinputUrutan(isi) {
      console.log(isi);
      this.menu.urutan = isi;
    },
    myinputSubname(isi) {
      console.log(isi);
      this.submenu.nama = isi;
    },
    myinputSubUrutan(isi) {
      console.log(isi);
      this.submenu.urutan = isi;
    },
    async delPelatihan() {
      Swal.fire({
        title: "Do you want to delete?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "delete",
        denyButtonText: `Don't delete`
      }).then(async (result) => {
        console.log(result);
        console.log("result ==========>");
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          try {
            Swal.showLoading();
            let res = await this.$store.dispatch(`${Actionmenu.delmenu}`, this.menu.id);
            console.log(res);
            location.reload();
            Swal.close();
          } catch (error) {
            Swal.fire({
              title: "Error! " + error,
              text: "Do you want to continue",
              icon: "error",
              confirmButtonText: "Close",
            });
          }
          Swal.fire("delete!", "", "success");
        } else if (result.isDenied) {
          Swal.fire("Changes are not deleted", "", "info");
        }
      });

    },
    async formDelete(id) {
      Swal.fire({
        title: "Do you want to delete?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "delete",
        denyButtonText: `Don't delete`
      }).then(async (result) => {
        console.log(result);
        console.log("result ==========>");
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          try {
            Swal.showLoading();
            let res = await this.$store.dispatch(`${Actionsubmenu.delsubmenu}`, id);
            console.log(res);
            this.getAllSubMenu();
            Swal.close();
          } catch (error) {
            Swal.fire({
              title: "Error! " + error,
              text: "Do you want to continue",
              icon: "error",
              confirmButtonText: "Close",
            });
          }
          Swal.fire("delete!", "", "success");
        } else if (result.isDenied) {
          Swal.fire("Changes are not deleted", "", "info");
        }
      });

    },
    formEdit(isi) {
      console.log(isi.id);
      this.statFormSubMenu = true;
      this.submenu = isi;
    },
    async putSubMenu(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionsubmenu.putsubmenu}`, isi);
        console.log(res);
        this.statFormSubMenu = await false;
        this.submenu.id = await null;
        await this.getAllSubMenu();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async postSubMenu() {
      try {
        if (this.submenu.id === null || this.submenu.id === undefined) {
          Swal.showLoading();
          this.submenu.menuId = await this.menu.id;
          let res = await this.$store.dispatch(`${Actionsubmenu.postsubmenu}`, this.submenu);
          console.log(res);
          this.statFormSubMenu = false;
          this.getAllSubMenu();
          Swal.close();
        } else {
          this.putSubMenu(this.submenu);
        }

      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putPelatihan() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmenu.putmenu}`, this.menu);
        console.log(res);
        location.reload();
        Swal.close();

      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },

    async getAllSubMenu() {
      try {
        console.log(this.$route.query.id);
        console.log(" =====>");
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmenu.getOnemenuByid}`, this.$route.query.id);
        this.menu = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>