<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <div>
        <div style="display: flex; align-items: center;
    white-space: nowrap;">
          <h8>Menu: {{ menu.nama }}</h8>
          <soft-button v-if="role == 'ROLE_ADMIN'" class="my-2 mb-2 m-2" style="display: flex;" size="sm" color="white"
            data-bs-toggle="modal" data-bs-target="#modalEditTahun" @click="addToForm()">
            <edit />
            <h8 style="margin-left: 5px;">Ubah Menu</h8>
          </soft-button>
          <soft-button v-if="role == 'ROLE_ADMIN'" class="my-2 mb-2 m-2" style="display: flex;" size="sm" color="white"
            @click="delPelatihan()">
            <delete />
            <h8 style="margin-left: 5px;">Hapus Menu</h8>
          </soft-button>

        </div>

        <div class="modal fade " id="modalEditTahun" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Form tambah Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label>Nama</label>
                <soft-input :value="menu.nama" @myinput="myinputNama($event)" id="nama" type="nama" placeholder="Nama"
                  name="nama" />
                <label>Jenis Menu</label>
                <select class="form-select" aria-label="Select jenis menu" v-model="menu.masterJenisId">
                  <option v-for="(list, index) in masterjeniss" :key="index" :value="list.id">{{ list.nama }}</option>
                </select>
                <label>Urutan</label>
                <soft-input :value="menu.urutan" @myinput="myinputUrutan($event)" id="urutan" type="urutan"
                  placeholder="Urutan" name="urutan" />

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="putPelatihan()">Save changes</button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <h6>List</h6>
      <label>Filter Tahun</label>
      <select class="form-select" aria-label="Select jenis menu" v-model="pilihTahun">
        <option value="2020">tahun 2020</option>
        <option value="2021">tahun 2021</option>
        <option value="2022">tahun 2022</option>
        <option value="2023">tahun 2023</option>
        <option value="2024">tahun 2024</option>
      </select>
      <soft-button class="my-4 mb-2" style="display: flex;" size="sm" color="info" @click="downloadPdfAnalisis()">Download
        Pdf
      </soft-button>
      <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info"
        @click="statFormSurat = !statFormSurat">Tambah
      </soft-button>

      <div class="card-body" v-if="statFormSurat">
        <label>nama</label>
        <soft-input :value="surat.nama" @myinput="myinputNameSurat($event)" id="name" type="name" placeholder="name"
          name="name" />
        <label>Tanggal</label>
        <br>
        <flat-pickr v-model="surat.tanggal" />
        <br>
        <label>uang masuk</label>
        <soft-input :value="surat.uang_masuk" @myinput="myinputUangMasuk($event)" id="uangmasuk" type="text"
          placeholder="uangmasuk" name="uangmasuk" />
        <label>uang keluar</label>
        <soft-input :value="surat.uang_keluar" @myinput="myinputUangKeluar($event)" id="uangkeluar" type="text"
          placeholder="uangkeluar" name="uangkeluar" />
        <label>tahun</label>
        <soft-input :value="surat.tahun" @myinput="myinputTahun($event)" id="tahun" type="number" placeholder="tahun"
          name="tahun" />
        <label>File
          <input type="file" @change="handleFileUpload($event)" />
        </label>
        <div class="text-center">
          <soft-button class="my-4 mb-2" variant="gradient" color="success" full-width @click="postSurat()">Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Nama
              </th>
              
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Uang Masuk
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Uang Keluar
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Tanggal
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  ">
                Tahun
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-2
                  ">
                File
              </th>
              <th class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                    ps-10
                  ">Aksi
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in filtertahun" :key="index">
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama }}</h6>

                  </div>
                </div>
              </td>
              
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ rupiah(list.uang_masuk) }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ rupiah(list.uang_keluar) }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ moment(list.tanggal) }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.tahun }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <a style="text-decoration:underline;" class="text-sm"
                  :href="`https://api.projekmhz.xyz/api/file/${list.file}`" alt="rocket" target="_blank">link</a>
              </td>


              <td class="align-middle" style="padding-left:10%;">
                <div>
                  <soft-button v-if="role == 'ROLE_ADMIN'" style="margin-right: 2%" class="my-4 mb-2" size="sm"
                    color="warning" @click="formEdit(list)">Edit
                  </soft-button>
                  <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="danger"
                    @click="formDelete(list.id)">Delete
                  </soft-button>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Total :</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ rupiah(uangMasuk) }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ rupiah(uangKeluar) }}</h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">Total Semua : </h6>

                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">

                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ rupiah(totalSemua) }} </h6>

                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
  
<script>
import img1 from "../../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";
import Delete from "@/components/Icon/Delete.vue";
import Edit from "@/components/Icon/Edit.vue";
import "sweetalert2/src/sweetalert2.scss";
import { jsPDF } from "jspdf";
import autoTable from 'jspdf-autotable';
import { Actionmenu } from "@/store/list_menu/types";
import { Actionkeuangan } from "@/store/keuangan/types";
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
import moment from "moment";
import { Actionmasterjenis } from "@/store/masterjenis/types";

export default {
  name: "com-table-pelatihan",
  data() {
    return {
      pilihTahun: "",
      statFormSurat: false,
      users: [],
      surat: {
        nama: '',
        tanggal: "",
        file: "",
        uang_masuk: "",
        uang_keluar: "",
        tahun: "",
        menuId: ""
      },
      total_uang_masuk: 0,
      total_uang_keluar: 0,
      total_semua: 0,
      role: localStorage.getItem('role'),
      masterjeniss: [],
      listSurat: [],
      menu: {},
      img1,
    };
  },
  components: {
    SoftInput,
    SoftButton,
    Delete,
    Edit,
    flatPickr
  },
  watch: {
    '$route.params.id': {
      handler: function () {
        this.statFormSurat = false;
        this.getAllSurat();
        this.getAllSubMenu();
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    this.getAllMasterjenis()
  },
  computed: {
    rupiah() {
      return (val) => {
        if (
          val.length > 0 ||
          val != null
        ) {
          const hiddenRp = val.toString().replace("Rp ", "");
          const hiddenTitik = hiddenRp.split(".");
          const numb = hiddenTitik.join("");
          const format = numb.toString().split("").reverse().join("");
          const convert = format.match(/\d{1,3}/g);
          if (convert == null) {
            val = 0;
            return "Rp 0"
          } else {
            val =
              "Rp " + convert.join(".").split("").reverse().join("");
              return val;
          }
        }else{
          return 'Rp 0'
        }
      }

    },
    moment() {
      return val => {
        moment.locale("id");
        return moment(val).format("dddd") + ", " + moment(val).format("LL");
      }

    },
    uangMasuk: function () {
      let total = 0;
      let isi = this.listSurat.filter(fl => Number(fl.tahun) === Number(this.pilihTahun))
      for (let index = 0; index < isi.length; index++) {
        let element = isi[index];
        console.log(element);
        total += element.uang_masuk;
        // this.uang_keluar += element.uang_keluar;
      }
      return total;
    },
    uangKeluar: function () {
      let total = 0;
      let isi = this.listSurat.filter(fl => Number(fl.tahun) === Number(this.pilihTahun))
      for (let index = 0; index < isi.length; index++) {
        let element = isi[index];
        console.log(element);
        total += element.uang_keluar;
        // this.uang_keluar += element.uang_keluar;
      }
      return total;
    },
    totalSemua: function () {
      let totalM = 0;
      let totalK = 0;
      let total = 0;
      let isi = this.listSurat.filter(fl => Number(fl.tahun) === Number(this.pilihTahun))
      for (let index = 0; index < isi.length; index++) {
        let element = isi[index];
        console.log(element);
        totalM += element.uang_masuk;
        totalK += element.uang_keluar;
        // this.uang_keluar += element.uang_keluar;
      }
      total = totalM - totalK;
      return total;
    },
    filtertahun: function () {
      console.log(this.listSurat);
      console.log(this.pilihTahun);
      console.log("this.listSurat");

      return this.listSurat.filter(fl => Number(fl.tahun) === Number(this.pilihTahun));
    }
  },
  methods: {
    addZero(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    },
    generateDataProfil() {
      let result = [];
      for (let index = 0; index < this.filtertahun.length; index++) {
        const element = this.filtertahun[index];
        var data = [
          element.nama,
          this.rupiah(element.uang_masuk),
          this.rupiah(element.uang_keluar),
          element.tanggal,
          element.tahun
        ];
        result.push(data);
      }

      return result;
    },
    downloadPdfAnalisis() {
      var d = new Date();
      console.log(d.getMonth() + 1);
      var h = this.addZero(d.getHours());
      var m = this.addZero(d.getMinutes());
      var headersProfil = [
        "Judul",
        "Uang Masuk",
        "Uang Keluar",
        "Tanggal",
        "Tahun",
      ];

      var footerProfil = [
        "Total",
        this.rupiah(this.uangMasuk),
        this.rupiah(this.uangKeluar),
        "Total Semua :",
        this.rupiah(this.totalSemua),
      ];

      var doc = new jsPDF({ putOnlyUsedFonts: true, orientation: "landscape", });
      doc.setFontSize(8);
      doc.text(
        "Tanggal Download " +
        d.getDate() +
        "/" +
        (d.getMonth() + 1) +
        "/" +
        d.getFullYear() +
        " " +
        h +
        ":" +
        m,
        294,
        5,
        null,
        null,
        "right"
      );
      autoTable(doc, {
        margin: { top: 30 },
        body: [
          [{
            content: "Keuangan " +
              this.pilihTahun, styles: { halign: 'center', fontSize: 18, font: 'helvetica', fontStyle: 'bold' }
          }],
        ],
      })

      let isiProfil = this.generateDataProfil();
      autoTable(doc, {
        theme: 'grid',
        styles: { halign: 'justify', cellPadding: 3 },
        headStyles: { fillColor: [0, 0, 0], halign: 'justify' },
        margin: { top: 25 },
        head: [headersProfil],
        body: isiProfil,
        foot: [footerProfil]
      })

      doc.save("keuangan.pdf");
    },
    async getAllMasterjenis() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
        this.masterjeniss = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    toPage(id, name) {
      this.$router.push({ name: name, query: { id: id } });
    },
    handleFileUpload(event) {
      this.surat.file = event.target.files[0];;
    },
    myinputNama(isi) {
      console.log(isi);
      this.menu.nama = isi;
    },
    myinputUrutan(isi) {
      console.log(isi);
      this.menu.urutan = isi;
    },
    myinputNameSurat(isi) {
      console.log(isi);
      this.surat.nama = isi;
    },
    myinputUangMasuk(isi) {
      console.log(isi);
      this.surat.uang_masuk = this.rupiah(isi);
    },
    myinputUangKeluar(isi) {
      console.log(isi);
      this.surat.uang_keluar = this.rupiah(isi);
    },
    myinputTahun(isi) {
      console.log(isi);
      this.surat.tahun = isi;
    },
    myinputSubUrutan(isi) {
      console.log(isi);
      this.menu.urutan = isi;
    },
    async delPelatihan() {
      Swal.fire({
        title: "Do you want to delete?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "delete",
        denyButtonText: `Don't delete`
      }).then(async (result) => {
        console.log(result);
        console.log("result ==========>");
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          try {
            Swal.showLoading();
            let res = await this.$store.dispatch(`${Actionmenu.delmenu}`, this.menu.id);
            console.log(res);
            location.reload();
            Swal.close();
          } catch (error) {
            Swal.fire({
              title: "Error! " + error,
              text: "Do you want to continue",
              icon: "error",
              confirmButtonText: "Close",
            });
          }
          Swal.fire("delete!", "", "success");
        } else if (result.isDenied) {
          Swal.fire("Changes are not deleted", "", "info");
        }
      });

    },
    async formDelete(id) {
      Swal.fire({
        title: "Do you want to delete?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "delete",
        denyButtonText: `Don't delete`
      }).then(async (result) => {
        console.log(result);
        console.log("result ==========>");
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          try {
            Swal.showLoading();
            let res = await this.$store.dispatch(`${Actionkeuangan.delkeuangan}`, id);
            console.log(res);
            this.getAllSurat();
            Swal.close();
          } catch (error) {
            Swal.fire({
              title: "Error! " + error,
              text: "Do you want to continue",
              icon: "error",
              confirmButtonText: "Close",
            });
          }
          Swal.fire("delete!", "", "success");
        } else if (result.isDenied) {
          Swal.fire("Changes are not deleted", "", "info");
        }
      });

    },
    formEdit(isi) {
      console.log(isi.id);
      this.statFormSurat = true;
      this.surat = isi;
    },
    async putSurat(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionkeuangan.putkeuangan}`, isi);
        console.log(res);
        this.statFormSurat = await false;
        this.surat.id = await null;
        await this.getAllSurat();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async postSurat() {
      try {
        this.surat.uang_masuk = await this.surat.uang_masuk
        .replace("Rp ", "")
        .split(".")
        .join("");
        this.surat.uang_keluar = await this.surat.uang_keluar
        .replace("Rp ", "")
        .split(".")
        .join("");
        if (this.surat.id === null || this.surat.id === undefined) {
          Swal.showLoading();
          this.surat.menuId = await this.$route.query.id;
          let res = await this.$store.dispatch(`${Actionkeuangan.postkeuangan}`, this.surat);
          console.log(res);
          this.statFormSurat = false;
          this.getAllSurat();
          Swal.close();
        } else {
          this.putSurat(this.surat);
        }

      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putPelatihan() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmenu.putmenu}`, this.menu);
        console.log(res);
        location.reload();
        Swal.close();

      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },

    async getAllSurat() {
      try {
        console.log(this.$route.query.id);
        console.log(" =====>");
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionkeuangan.getAllkeuangan}`, this.$route.query.id);
        this.listSurat = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },

    async getAllSubMenu() {
      try {
        console.log(this.$route.query.id);
        console.log(" =====>");
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmenu.getOnemenuByid}`, this.$route.query.id);
        this.menu = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>
  