<template>
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>List Peserta</h6>
        <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info" @click="statForm = !statForm"
          >Tambah Peserta
        </soft-button>
        <div class="card-body" v-if="statForm">
          <label>nip</label>
          <soft-input
            :value="pesertaForm.nip"
            @myinput="myinputNip($event)"
            id="nip"
            type="text"
            placeholder="nip"
            name="nip"
          />
          <label>no ktp</label>
          <soft-input
            :value="pesertaForm.no_ktp"
            @myinput="myinputno_ktp($event)"
            id="no_ktp"
            type="number"
            placeholder="no ktp"
            name="no ktp"
          />
          <label>link foto</label>
          <soft-input
            :value="pesertaForm.link_foto"
            @myinput="myinputlink_foto($event)"
            id="link_foto"
            type="text"
            placeholder="link foto"
            name="link foto"
          />
          <label>tipe pegawai</label>
          <soft-input
            :value="pesertaForm.tipe_pegawai"
            @myinput="myinputtipe_pegawai($event)"
            id="tipe_pegawai"
            type="text"
            placeholder="tipe pegawai"
            name="tipe pegawai"
          />
          <label>no str</label>
          <soft-input
            :value="pesertaForm.no_str"
            @myinput="myinputno_str($event)"
            id="no_str"
            type="text"
            placeholder="no str"
            name="no str"
          />
          <label>nama lengkap</label>
          <soft-input
            :value="pesertaForm.nama_lengkap"
            @myinput="myinputnama_lengkap($event)"
            id="nama_lengkap"
            type="text"
            placeholder="nama lengkap"
            name="nama lengkap"
          />
          <label>gelar depan</label>
          <soft-input
            :value="pesertaForm.gelar_depan"
            @myinput="myinputgelar_depan($event)"
            id="gelar_depan"
            type="text"
            placeholder="gelar depan"
            name="gelar depan"
          />
          <label>gelar belakang</label>
          <soft-input
            :value="pesertaForm.gelar_belakang"
            @myinput="myinputgelar_belakang($event)"
            id="gelar_belakang"
            type="text"
            placeholder="gelar belakang"
            name="gelar belakang"
          />
          <label>tempat lahir</label>
          <soft-input
            :value="pesertaForm.tempat_lahir"
            @myinput="myinputtempat_lahir($event)"
            id="tempat_lahir"
            type="text"
            placeholder="tempat lahir"
            name="tempat lahir"
          />
          <label>tgl lahir</label>
          <soft-input
            :value="pesertaForm.tgl_lahir"
            @myinput="myinputtgl_lahir($event)"
            id="tgl_lahir"
            type="text"
            placeholder="tgl lahir"
            name="tgl lahir"
          />
          <label>agama</label>
          <soft-input
            :value="pesertaForm.agama"
            @myinput="myinputagama($event)"
            id="agama"
            type="agama"
            placeholder="agama"
            name="agama"
          />
          <label>pendidikan terakhir</label>
          <soft-input
            :value="pesertaForm.pendidikan_terakhir"
            @myinput="myinputpendidikan_terakhir($event)"
            id="pendidikan_terakhir"
            type="pendidikan_terakhir"
            placeholder="pendidikan terakhir"
            name="pendidikan terakhir"
          />
          <label>pangkat</label>
          <soft-input
            :value="pesertaForm.pangkat"
            @myinput="myinputpangkat($event)"
            id="pangkat"
            type="pangkat"
            placeholder="pangkat"
            name="pangkat"
          />
          <label>nama instansi</label>
          <soft-input
            :value="pesertaForm.nama_instansi"
            @myinput="myinputnama_instansi($event)"
            id="nama_instansi"
            type="nama_instansi"
            placeholder="nama instansi"
            name="nama instansi"
          />
          <label>alamat instansi</label>
          <soft-input
            :value="pesertaForm.alamat_instansi"
            @myinput="myinputalamat_instansi($event)"
            id="alamat_instansi"
            type="alamat_instansi"
            placeholder="alamat instansi"
            name="alamat instansi"
          />
          <label>kab instansi</label>
          <soft-input
            :value="pesertaForm.kab_instansi"
            @myinput="myinputkab_instansi($event)"
            id="kab_instansi"
            type="kab_instansi"
            placeholder="kab instansi"
            name="kab instansi"
          />
          <label>prov instansi</label>
          <soft-input
            :value="pesertaForm.prov_instansi"
            @myinput="myinputprov_instansi($event)"
            id="prov_instansi"
            type="prov_instansi"
            placeholder="prov instansi"
            name="prov instansi"
          />

          <label>jenis kelamin</label>
          <soft-input
            :value="pesertaForm.jenis_kelamin"
            @myinput="myinputjenis_kelamin($event)"
            id="jenis_kelamin"
            type="text"
            placeholder="jenis kelamin"
            name="jenis kelamin"
          />
          
          
          <label>alamat rumah</label>
          <soft-input
            :value="pesertaForm.alamat_rumah"
            @myinput="myinputalamat_rumah($event)"
            id="alamat_rumah"
            type="alamat_rumah"
            placeholder="alamat rumah"
            name="alamat rumah"
          />
          <label>kab rumah</label>
          <soft-input
            :value="pesertaForm.kab_rumah"
            @myinput="myinputkab_rumah($event)"
            id="kab_rumah"
            type="kab_rumah"
            placeholder="kab rumah"
            name="kab rumah"
          />
          <label>prov rumah</label>
          <soft-input
            :value="pesertaForm.prov_rumah"
            @myinput="myinputprov_rumah($event)"
            id="prov_rumah"
            type="prov_rumah"
            placeholder="prov rumah"
            name="prov rumah"
          />

          <label>no hp</label>
          <soft-input
            :value="pesertaForm.no_hp"
            @myinput="myinputno_hp($event)"
            id="no_hp"
            type="number"
            placeholder="no hp"
            name="no hp"
          />
          <label>email</label>
          <soft-input
            :value="pesertaForm.email"
            @myinput="myinputemail($event)"
            id="email"
            type="text"
            placeholder="email"
            name="email"
          />
          <label>jenis nakes</label>
          <soft-input
            :value="pesertaForm.jenis_nakes"
            @myinput="myinputjenis_nakes($event)"
            id="jenis_nakes"
            type="text"
            placeholder="jenis nakes"
            name="jenis nakes"
          />


          <label>jabatan</label>
          <soft-input
            :value="pesertaForm.jabatan"
            @myinput="myinputjabatan($event)"
            id="jabatan"
            type="text"
            placeholder="jabatan"
            name="jabatan"
          />
          
          <div class="text-center">
            <soft-button
              class="my-4 mb-2"
              variant="gradient"
              color="success"
              full-width
              @click="postPeserta()"
              >Simpan
            </soft-button>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                  v-for="(list, index) in fieldPeserta" :key="index"
                >
                  {{ list.key }}
                </th>

                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(list, index) in peserta" :key="index">
                <td v-for="(listField,indexx) in fieldPeserta" :key="indexx">
                    <!-- {{ listField }} -->
                  <div class="d-flex px-2 py-1"> 
                    
                    <div class="d-flex flex-column justify-content-center">
                      <img
                      v-if="listField.key == 'pas_foto'"
                        class="w-100 position-relative z-index-2 pt-4"
                        :src="`https://api.projekmhz.xyz/api/foto/${list[listField.key]}`"
                        alt="rocket"
                      />
                      <h6 v-else class="mb-0 text-sm">{{ list[listField.key] }}</h6>
                     
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs text-secondary mb-0">{{ list.urutan }}</p>
                </td>
                <td class="align-middle">
                  <div>
                    <soft-button
                    v-if="role == 'ROLE_ADMIN'"
                      style="margin-right: 2%"
                      class="my-4 mb-2"
                      size="sm"
                      color="warning"
                      @click="formEdit(list)"
                      >Edit
                    </soft-button>
                    <soft-button
                    v-if="role == 'ROLE_ADMIN'"
                      class="my-4 mb-2"
                      size="sm"
                      color="danger"
                      @click="formDelete(list.id)"
                      >Delete
                    </soft-button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import img1 from "../../../assets/img/team-2.jpg";
  import Swal from "sweetalert2/dist/sweetalert2.js";
  import SoftInput from "@/components/SoftInput.vue";
  import SoftButton from "@/components/SoftButton.vue";
  import "sweetalert2/src/sweetalert2.scss";
  import { Actionpeserta } from "@/store/peserta/types";
  
  export default {
    name: "com-table-pelatihan",
    data() {
      return {
        statForm:false,
        users: [],
        role: localStorage.getItem('role'),
        pesertaForm:{
          "no_ktp": "",
        "link_foto": "",
        "tipe_pegawai": "",
        "nip": "",
        "no_str": "",
        "nama_lengkap": "",
        "gelar_depan": "",
        "gelar_belakang": "",
        "jenis_kelamin": "",
        "tempat_lahir": "",
        "tgl_lahir": "",
        "agama": "",
        "pendidikan_terakhir": "",
        "pangkat": "",
        "nama_instansi": "",
        "alamat_instansi": "",
        "kab_instansi": "",
        "prov_instansi": "",
        "alamat_rumah": "",
        "kab_rumah": "",
        "prov_rumah": "",
        "no_hp": "",
        "email": "",
        "jenis_nakes": "",
        "jabatan": "",
        },
        fieldPeserta:[],
        peserta:[],
        img1,
      };
    },
    components: {
      SoftInput,
      SoftButton,
    },
    created() {
        this.statForm=false;
          this.getAllPeserta();
    },
    methods: {
        handleFileUpload(event){
            this.pesertaForm.foto = event.target.files[0];;
        },
        myinputnama_lengkap(isi){
        console.log(isi);
        this.pesertaForm.nama_lengkap=isi;
      },
      myinputNip(isi){
        console.log(isi);
        this.pesertaForm.nip=isi;
      },
      myinputno_ktp(isi){
        console.log(isi);
        this.pesertaForm.no_ktp=isi;
      },
      myinputlink_foto(isi){
        console.log(isi);
        this.pesertaForm.link_foto=isi;
      },
      myinputtipe_pegawai(isi){
        console.log(isi);
        this.pesertaForm.tipe_pegawai=isi;
      },
      myinputno_str(isi){
        console.log(isi);
        this.pesertaForm.no_str=isi;
      },
      myinputgelar_depan(isi){
        console.log(isi);
        this.pesertaForm.gelar_depan=isi;
      },
      myinputgelar_belakang(isi){
        console.log(isi);
        this.pesertaForm.gelar_belakang=isi;
      },
      myinputjenis_kelamin(isi){
        console.log(isi);
        this.pesertaForm.jenis_kelamin=isi;
      },
      myinputtempat_lahir(isi){
        console.log(isi);
        this.pesertaForm.tempat_lahir=isi;
      },
      myinputtgl_lahir(isi){
        console.log(isi);
        this.pesertaForm.tgl_lahir=isi;
      },
      myinputagama(isi){
        console.log(isi);
        this.pesertaForm.agama=isi;
      },
      myinputpendidikan_terakhir(isi){
        console.log(isi);
        this.pesertaForm.pendidikan_terakhir=isi;
      },
      myinputpangkat(isi){
        console.log(isi);
        this.pesertaForm.pangkat=isi;
      },
      myinputnama_instansi(isi){
        console.log(isi);
        this.pesertaForm.nama_instansi=isi;
      },
      myinputalamat_instansi(isi){
        console.log(isi);
        this.pesertaForm.alamat_instansi=isi;
      },
      myinputkab_instansi(isi){
        console.log(isi);
        this.pesertaForm.kab_instansi=isi;
      },
      myinputprov_instansi(isi){
        console.log(isi);
        this.pesertaForm.prov_instansi=isi;
      },
      myinputalamat_rumah(isi){
        console.log(isi);
        this.pesertaForm.alamat_rumah=isi;
      },
      myinputkab_rumah(isi){
        console.log(isi);
        this.pesertaForm.kab_rumah=isi;
      },
      myinputprov_rumah(isi){
        console.log(isi);
        this.pesertaForm.prov_rumah=isi;
      },myinputno_hp(isi){
        console.log(isi);
        this.pesertaForm.no_hp=isi;
      },
      myinputemail(isi){
        console.log(isi);
        this.pesertaForm.email=isi;
      },
      myinputjenis_nakes(isi){
        console.log(isi);
        this.pesertaForm.jenis_nakes=isi;
      },
      myinputjabatan(isi){
        console.log(isi);
        this.pesertaForm.jabatan=isi;
      },
      
    async postPeserta() {
        try {
          if(this.pesertaForm.id === null || this.pesertaForm.id === undefined){
            Swal.showLoading();
            this.pesertaForm.subMenuId = await this.$route.query.id;
            let res = await this.$store.dispatch(`${Actionpeserta.postpeserta}`, this.pesertaForm);
            console.log(res);
            location.reload();
            Swal.close();
          }else{
            this.putPeserta(this.pesertaForm);
          }
           
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    async formDelete(id) {
        Swal.fire({
          title: "Do you want to delete?",
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: "delete",
          denyButtonText: `Don't delete`
        }).then(async(result) => {
          console.log(result);
          console.log("result ==========>");
          /* Read more about isConfirmed, isDenied below */
          if (result.value) {
            try {
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actionpeserta.delpeserta}`,id);
                console.log(res);
                if(res.status == 200){
                  await location.reload();
                }
                Swal.close();
              } catch (error) {
                Swal.fire({
                  title: "Error! " + error,
                  text: "Do you want to continue",
                  icon: "error",
                  confirmButtonText: "Close",
                });
              }
              // location.reload();
            Swal.fire("delete!", "", "success");
          } else if (result.isDenied) {
            Swal.fire("Changes are not deleted", "", "info");
          }
        });
      
    },
    formEdit(isi){
      console.log(isi.id);
      console.log(isi);
      console.log("isi ==========>");
      this.statForm = true;
      this.pesertaForm = isi;
      console.log(this.pesertaForm);
    },
    async putPeserta(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionpeserta.putpeserta}`,isi);
        console.log(res);
        this.statForm=await false;
        this.pesertaForm.id = await null;
        await this.getAllPeserta();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
      
      async getAllPeserta() {
        try {
          console.log(this.$route.query.id);
          console.log(" =====>");
          Swal.showLoading();
          this.peserta=await [];
          let res = await this.$store.dispatch(`${Actionpeserta.getAllpeserta}`, this.$route.query.id);
          this.peserta = await res.data;
          this.fieldPeserta = await [];
          if(this.peserta.length != 0){
            Object.entries(this.peserta[0]).forEach(([key, value]) => {
           console.log(value);
            this.fieldPeserta.push({key:key});
            });
          }
          
          console.log(this.peserta);
          console.log("this.peserta ===============>");
          Swal.close();
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    },
  };
  </script>
  