<template>
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>List Dokumentasi</h6>
        <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info" @click="statForm = !statForm"
          >Tambah Dokumentasi
        </soft-button>
        <div class="card-body" v-if="statForm">
          <label>nama</label>
          <soft-input
            :value="dokumentasiForm.nama"
            @myinput="myinputNama($event)"
            id="name"
            type="name"
            placeholder="name"
            name="name"
          />
          <label>File
            <input type="file" @change="handleFileUpload( $event )"/>
        </label>

          
          <div class="text-center">
            <soft-button
              class="my-4 mb-2"
              variant="gradient"
              color="success"
              full-width
              @click="postDokumentasi()"
              >Simpan
            </soft-button>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                  v-for="(list, index) in fieldDokumentasi" :key="index"
                >
                  {{ list.key }}
                </th>

                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(list, index) in dokumentasi" :key="index">
                <td v-for="(listField,indexx) in fieldDokumentasi" :key="indexx">
                    <!-- {{ listField }} -->
                  <div class="d-flex px-2 py-1"> 
                    
                    <div class="d-flex flex-column justify-content-center">
                      <a
                      v-if="listField.key == 'file'"
                      style="text-decoration:underline;"
                        class="text-sm"
                        :href="`https://api.projekmhz.xyz/api/file/${list[listField.key]}`"
                        alt="rocket"
                        target="_blank"
                        
                      >link</a>
                      <h6 v-else class="mb-0 text-sm">{{ list[listField.key] }}</h6>
                     
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs text-secondary mb-0">{{ list.urutan }}</p>
                </td>
                <td class="align-middle">
                  <div>
                    <soft-button
                    v-if="role == 'ROLE_ADMIN'"
                      style="margin-right: 2%"
                      class="my-4 mb-2"
                      size="sm"
                      color="warning"
                      @click="formEdit(list)"
                      >Edit
                    </soft-button>
                    <soft-button
                    v-if="role == 'ROLE_ADMIN'"
                      class="my-4 mb-2"
                      size="sm"
                      color="danger"
                      @click="formDelete(list.id)"
                      >Delete
                    </soft-button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import img1 from "../../../assets/img/team-2.jpg";
  import Swal from "sweetalert2/dist/sweetalert2.js";
  import SoftInput from "@/components/SoftInput.vue";
  import SoftButton from "@/components/SoftButton.vue";
  import "sweetalert2/src/sweetalert2.scss";
  import { Actiondokumentasi } from "@/store/dokumentasi/types";
  
  export default {
    name: "com-table-pelatihan",
    data() {
      return {
        statForm:false,
        users: [],
        role: localStorage.getItem('role'),
        dokumentasiForm:{
          "file": "",
          "nama": "",
        },
        fieldDokumentasi:[],
        dokumentasi:[],
        img1,
      };
    },
    components: {
      SoftInput,
      SoftButton,
    },
    created() {
        this.statForm=false;
          this.getAllDokumentasi();
    },
    methods: {
        handleFileUpload(event){
            this.dokumentasiForm.file = event.target.files[0];;
        },
      myinputNama(isi){
        console.log(isi);
        this.dokumentasiForm.nama=isi;
      },
      
    async postDokumentasi() {
        try {
          if(this.dokumentasiForm.id === null || this.dokumentasiForm.id === undefined){
            Swal.showLoading();
            this.dokumentasiForm.id = await null;
            this.dokumentasiForm.subMenuId = await this.$route.query.id;
            let res = await this.$store.dispatch(`${Actiondokumentasi.postdokumentasi}`, this.dokumentasiForm);
            console.log(res);
            location.reload();
            Swal.close();
          }else{
            this.putDokumentasi(this.dokumentasiForm);
          }
           
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    async formDelete(id) {
        Swal.fire({
          title: "Do you want to delete?",
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: "delete",
          denyButtonText: `Don't delete`
        }).then(async(result) => {
          console.log(result);
          console.log("result ==========>");
          /* Read more about isConfirmed, isDenied below */
          if (result.value) {
            try {
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actiondokumentasi.deldokumentasi}`,id);
                console.log(res);
                if(res.status == 200){
                  await location.reload();
                }
                Swal.close();
              } catch (error) {
                Swal.fire({
                  title: "Error! " + error,
                  text: "Do you want to continue",
                  icon: "error",
                  confirmButtonText: "Close",
                });
              }
              // location.reload();
            Swal.fire("delete!", "", "success");
          } else if (result.isDenied) {
            Swal.fire("Changes are not deleted", "", "info");
          }
        });
      
    },
    formEdit(isi){
      console.log(isi.id);
      console.log(isi);
      console.log("isi ==========>");
      this.statForm = true;
      this.dokumentasiForm = isi;
      console.log(this.dokumentasiForm);
    },
    async putDokumentasi(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actiondokumentasi.putdokumentasi}`,isi);
        console.log(res);
        this.statForm=await false;
        this.dokumentasiForm.id = await null;
        await this.getAllDokumentasi();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
      
      async getAllDokumentasi() {
        try {
          console.log(this.$route.query.id);
          console.log(" =====>");
          Swal.showLoading();
          this.dokumentasi=await [];
          let res = await this.$store.dispatch(`${Actiondokumentasi.getAlldokumentasi}`, this.$route.query.id);
          this.dokumentasi = await res.data;
          this.fieldDokumentasi = await [];
          if(this.dokumentasi.length != 0){
            Object.entries(this.dokumentasi[0]).forEach(([key, value]) => {
           console.log(value);
            this.fieldDokumentasi.push({key:key});
            });
          }
          
          console.log(this.dokumentasi);
          console.log("this.dokumentasi ===============>");
          Swal.close();
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    },
  };
  </script>
  