<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <div>
      <div style="display: flex; align-items: center;
  white-space: nowrap;">
        <h8>Menu: {{ menu.nama }}</h8>
        <soft-button v-if="role == 'ROLE_ADMIN'" class="my-2 mb-2 m-2" style="display: flex;" size="sm" color="white" data-bs-toggle="modal" data-bs-target="#modalEditTahun" @click="addToForm()"
        ><edit /><h8 style="margin-left: 5px;">Ubah Menu</h8>
      </soft-button>
      <soft-button v-if="role == 'ROLE_ADMIN'" class="my-2 mb-2 m-2" style="display: flex;" size="sm" color="white" @click="delPelatihan()"
        ><delete /><h8 style="margin-left: 5px;">Hapus Menu</h8>
      </soft-button>
       
      </div>

      <div class="modal fade " id="modalEditTahun" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Form tambah Menu</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <label>Nama</label>
        <soft-input
          :value="menu.nama"
          @myinput="myinputNama($event)"
          id="nama"
          type="nama"
          placeholder="Nama"
          name="nama"
        />
        <label>Jenis Menu</label>
          <select class="form-select" aria-label="Select jenis menu" v-model="menu.masterJenisId">
            <option v-for="(list, index) in masterjeniss" :key="index" :value="list.id">{{ list.nama }}</option>
          </select>
        <label>Urutan</label>
        <soft-input
          :value="menu.urutan"
          @myinput="myinputUrutan($event)"
          id="urutan"
          type="urutan"
          placeholder="Urutan"
          name="urutan"
        />

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" @click="putPelatihan()">Save changes</button>
    </div>
  </div>
</div>
</div>


      </div>
      <h6>List</h6>
      <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info" @click="statFormSurat = !statFormSurat"
        >Tambah
      </soft-button>
      <div class="card-body" v-if="statFormSurat">
        <label>nama</label>
        <soft-input
          :value="surat.nama"
          @myinput="myinputNameSurat($event)"
          id="name"
          type="name"
          placeholder="name"
          name="name"
        />
        <label>tanggal masehi</label>
        <soft-input
          :value="surat.tanggal_masehi"
          @myinput="myinputtanggal_masehi($event)"
          id="tanggal_masehi"
          type="text"
          placeholder="tanggal_masehi"
          name="tanggal_masehi"
        />
        <label>tanggal hijriyah</label>
        <soft-input
          :value="surat.tanggal_hijriyah"
          @myinput="myinputtanggal_hijriyah($event)"
          id="tanggal_hijriyah"
          type="text"
          placeholder="tanggal_hijriyah"
          name="tanggal_hijriyah"
        />
        <label>nomor surat</label>
        <soft-input
          :value="surat.nomor_surat"
          @myinput="myinputnomor_surat($event)"
          id="nomor_surat"
          type="text"
          placeholder="nomor_surat"
          name="nomor_surat"
        />
        <label>unit kerja</label>
        <soft-input
          :value="surat.unit_kerja"
          @myinput="myinputunit_kerja($event)"
          id="unit_kerja"
          type="text"
          placeholder="unit_kerja"
          name="unit_kerja"
        />
        <label>instansi</label>
        <soft-input
          :value="surat.instansi"
          @myinput="myinputinstansi($event)"
          id="instansi"
          type="text"
          placeholder="instansi"
          name="instansi"
        />
        <label>keterangan</label>
        <soft-input
          :value="surat.keterangan"
          @myinput="myinputketerangan($event)"
          id="keterangan"
          type="text"
          placeholder="keterangan"
          name="keterangan"
        />
        <label>File
            <input type="file" @change="handleFileUpload( $event )"/>
        </label>
        <div class="text-center">
          <soft-button
            class="my-4 mb-2"
            variant="gradient"
            color="success"
            full-width
            @click="postSurat()"
            >Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
              nomor_surat
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Nama
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
              tanggal masehi
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
              tanggal hijriyah
              </th>
               <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
              unit kerja
              </th>
               <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
              instansi
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
              keterangan
              </th>
              
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                File
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-10
                "
              >Aksi
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in listSurat" :key="index">
              <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nomor_surat }}</h6>
                   
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama }}</h6>
                   
                  </div>
                </div>
              </td>
                <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.tanggal_masehi }}</h6>
                   
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.tanggal_hijriyah }}</h6>
                   
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.unit_kerja }}</h6>
                   
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.instansi }}</h6>
                   
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.keterangan }}</h6>
                   
                  </div>
                </div>
              </td>
              <td>
                <a
                      style="text-decoration:underline;"
                        class="text-sm"
                        :href="`https://api.projekmhz.xyz/api/file/${list.file}`"
                        alt="rocket"
                        target="_blank"
                        
                      >link</a>
              </td>

              
              <td class="align-middle" style="padding-left:10%;">
                <div>
                  <soft-button
                  v-if="role == 'ROLE_ADMIN'"
                    style="margin-right: 2%"
                    class="my-4 mb-2"
                    size="sm"
                    color="warning"
                    @click="formEdit(list)"
                    >Edit
                  </soft-button>
                  <soft-button
                  v-if="role == 'ROLE_ADMIN'"
                    class="my-4 mb-2"
                    size="sm"
                    color="danger"
                    @click="formDelete(list.id)"
                    >Delete
                  </soft-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import img1 from "../../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";
import Delete from "@/components/Icon/Delete.vue";
import Edit from "@/components/Icon/Edit.vue";
import "sweetalert2/src/sweetalert2.scss";
import { Actionmenu } from "@/store/list_menu/types";
import { Actionsurat } from "@/store/surat/types";
import { Actionmasterjenis } from "@/store/masterjenis/types";

export default {
  name: "com-table-pelatihan",
  data() {
    return {
      statFormSurat:false,
      users: [],
      surat:{
        nama:'',
        file:"",
        menuId:"",
        tanggal_masehi:"",
          tanggal_hijriyah:"",
          nomor_surat:"",
          unit_kerja:"",
          instansi:"",
          keterangan:""
      },
      role: localStorage.getItem('role'),
      masterjeniss:[],
      listSurat:[],
      menu:{},
      img1,
    };
  },
  components: {
    SoftInput,
    SoftButton,
    Delete,
    Edit
  },
  watch:{
    '$route.params.id': {
      handler: function() {
        this.statFormSurat=false;
        this.getAllSurat();
        this.getAllSubMenu();
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    this.getAllMasterjenis()
  },
  methods: {
    async getAllMasterjenis() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmasterjenis.getAllmasterjenis}`);
        this.masterjeniss = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    toPage(id,name){
      this.$router.push({name:name,query:{id:id}});
    },
    handleFileUpload(event){
            this.surat.file = event.target.files[0];;
        },
    myinputNama(isi){
      console.log(isi);
      this.menu.nama=isi;
    },
    myinputtanggal_masehi(isi){
      console.log(isi);
      this.surat.tanggal_masehi=isi;
    },
    myinputtanggal_hijriyah(isi){
      console.log(isi);
      this.surat.tanggal_hijriyah=isi;
    },
    myinputnomor_surat(isi){
      console.log(isi);
      this.surat.nomor_surat=isi;
    },
     myinputunit_kerja(isi){
      console.log(isi);
      this.surat.unit_kerja=isi;
    },
     myinputinstansi(isi){
      console.log(isi);
      this.surat.instansi=isi;
    },
    myinputketerangan(isi){
      console.log(isi);
      this.surat.keterangan=isi;
    },
    myinputUrutan(isi){
      console.log(isi);
      this.menu.urutan=isi;
    },
    myinputNameSurat(isi){
      console.log(isi);
      this.surat.nama=isi;
    },
    myinputSubUrutan(isi){
          console.log(isi);
          this.menu.urutan=isi;
        },
    async delPelatihan() {
      Swal.fire({
        title: "Do you want to delete?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "delete",
        denyButtonText: `Don't delete`
      }).then(async(result) => {
        console.log(result);
        console.log("result ==========>");
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          try {
              Swal.showLoading();
              let res = await this.$store.dispatch(`${Actionmenu.delmenu}`,this.menu.id);
              console.log(res);
              location.reload();
              Swal.close();
            } catch (error) {
              Swal.fire({
                title: "Error! " + error,
                text: "Do you want to continue",
                icon: "error",
                confirmButtonText: "Close",
              });
            }
          Swal.fire("delete!", "", "success");
        } else if (result.isDenied) {
          Swal.fire("Changes are not deleted", "", "info");
        }
      });
    
  },
  async formDelete(id) {
      Swal.fire({
        title: "Do you want to delete?",
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: "delete",
        denyButtonText: `Don't delete`
      }).then(async(result) => {
        console.log(result);
        console.log("result ==========>");
        /* Read more about isConfirmed, isDenied below */
        if (result.value) {
          try {
              Swal.showLoading();
              let res = await this.$store.dispatch(`${Actionsurat.delsurat}`,id);
              console.log(res);
              this.getAllSurat();
              Swal.close();
            } catch (error) {
              Swal.fire({
                title: "Error! " + error,
                text: "Do you want to continue",
                icon: "error",
                confirmButtonText: "Close",
              });
            }
          Swal.fire("delete!", "", "success");
        } else if (result.isDenied) {
          Swal.fire("Changes are not deleted", "", "info");
        }
      });
    
  },
  formEdit(isi){
    console.log(isi.id);
    this.statFormSurat = true;
    this.surat = isi;
  },
  async putSurat(isi) {
    try {
      Swal.showLoading();
      let res = await this.$store.dispatch(`${Actionsurat.putsurat}`,isi);
      console.log(res);
      this.statFormSurat=await false;
      this.surat.id = await null;
      await this.getAllSurat();
      Swal.close();
    } catch (error) {
      Swal.fire({
        title: "Error! " + error,
        text: "Do you want to continue",
        icon: "error",
        confirmButtonText: "Close",
      });
    }
  },
    async postSurat() {
      try {
        if(this.surat.id === null || this.surat.id === undefined){
          Swal.showLoading();
          this.surat.menuId = await this.$route.query.id;
          let res = await this.$store.dispatch(`${Actionsurat.postsurat}`, this.surat);
          console.log(res);
          this.statFormSurat = false;
          this.getAllSurat();
          Swal.close();
        }else{
          this.putSurat(this.surat);
        }
         
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putPelatihan() {
      try {
          Swal.showLoading();
          let res = await this.$store.dispatch(`${Actionmenu.putmenu}`, this.menu);
          console.log(res);
          location.reload();
          Swal.close();
      
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    
    async getAllSurat() {
      try {
        console.log(this.$route.query.id);
        console.log(" =====>");
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionsurat.getAllsurat}`, this.$route.query.id);
        this.listSurat = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },

    async getAllSubMenu() {
        try {
          console.log(this.$route.query.id);
          console.log(" =====>");
          Swal.showLoading();
          let res = await this.$store.dispatch(`${Actionmenu.getOnemenuByid}`, this.$route.query.id);
          this.menu = await res.data;
          console.log(res);
          Swal.close();
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
  },
};
</script>
