<template>
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>List Mot</h6>
        <soft-button v-if="role == 'ROLE_ADMIN'" class="my-4 mb-2" size="sm" color="info" @click="statForm = !statForm"
          >Tambah Mot
        </soft-button>
        <div class="card-body" v-if="statForm">
          <label>nip</label>
          <soft-input
            :value="motForm.nip"
            @myinput="myinputNip($event)"
            id="nip"
            type="nip"
            placeholder="nip"
            name="nip"
          />
          <label>nama</label>
          <soft-input
            :value="motForm.nama"
            @myinput="myinputNama($event)"
            id="name"
            type="name"
            placeholder="name"
            name="name"
          />
          <label>nik</label>
          <soft-input
            :value="motForm.nik"
            @myinput="myinputNik($event)"
            id="nik"
            type="nik"
            placeholder="nik"
            name="nik"
          />
          <label>jenis pegawai</label>
          <soft-input
            :value="motForm.jenis_pegawai"
            @myinput="myinputjenis_pegawai($event)"
            id="jenis_pegawai"
            type="jenis_pegawai"
            placeholder="jenis_ egawai"
            name="jenis pegawai"
          />
          <label>asal instansi</label>
          <soft-input
            :value="motForm.asal_instansi"
            @myinput="myinputasal_instansi($event)"
            id="asal_instansi"
            type="asal_instansi"
            placeholder="asal instansi"
            name="asal instansi"
          />
          <label>status pegawai</label>
          <soft-input
            :value="motForm.status_pegawai"
            @myinput="myinputstatus_pegawai($event)"
            id="status_pegawai"
            type="status_pegawai"
            placeholder="status pegawai"
            name="status pegawai"
          />
          <label>tempat lahir</label>
          <soft-input
            :value="motForm.tempat_lahir"
            @myinput="myinputtempat_lahir($event)"
            id="tempat_lahir"
            type="tempat_lahir"
            placeholder="tempat lahir"
            name="tempat lahir"
          />
          <label>tgl lahir</label>
          <soft-input
            :value="motForm.tgl_lahir"
            @myinput="myinputtgl_lahir($event)"
            id="tgl_lahir"
            type="tgl_lahir"
            placeholder="tgl lahir"
            name="tgl lahir"
          />
          <label>pendidikan terakhir</label>
          <soft-input
            :value="motForm.pendidikan_terakhir"
            @myinput="myinputpendidikan_terakhir($event)"
            id="pendidikan_terakhir"
            type="pendidikan_terakhir"
            placeholder="pendidikan terakhir"
            name="pendidikan terakhir"
          />
          <label>jurusan pendidikan</label>
          <soft-input
            :value="motForm.jurusan_pendidikan"
            @myinput="myinputjurusan_pendidikan($event)"
            id="jurusan_pendidikan"
            type="jurusan_pendidikan"
            placeholder="jurusan pendidikan"
            name="jurusan pendidikan"
          />
          <label>jenis kelamin</label>
          <soft-input
            :value="motForm.jenis_kelamin"
            @myinput="myinputjenis_kelamin($event)"
            id="jenis_kelamin"
            type="jenis_kelamin"
            placeholder="jenis kelamin"
            name="jenis kelamin"
          />
          <label>agama</label>
          <soft-input
            :value="motForm.agama"
            @myinput="myinputagama($event)"
            id="agama"
            type="agama"
            placeholder="agama"
            name="agama"
          />
          <label>gol</label>
          <soft-input
            :value="motForm.gol"
            @myinput="myinputgol($event)"
            id="gol"
            type="gol"
            placeholder="gol"
            name="gol"
          />
          <label>provinsi instansi</label>
          <soft-input
            :value="motForm.provinsi_instansi"
            @myinput="myinputprov_instansi($event)"
            id="prov_instansi"
            type="prov_instansi"
            placeholder="provinsi instansi"
            name="provinsi instansi"
          />
          <label>alamat kantor</label>
          <soft-input
            :value="motForm.alamat_kantor"
            @myinput="myinputalamat_kantor($event)"
            id="alamat_kantor"
            type="alamat_kantor"
            placeholder="alamat kantor"
            name="alamat kantor"
          />
          <label>alamat rumah</label>
          <soft-input
            :value="motForm.alamat_rumah"
            @myinput="myinputalamat_rumah($event)"
            id="alamat_rumah"
            type="alamat_rumah"
            placeholder="alamat rumah"
            name="alamat rumah"
          />
          <label>nomor hp</label>
          <soft-input
            :value="motForm.nomor_hp"
            @myinput="myinputnomor_hp($event)"
            id="nomor_hp"
            type="number"
            placeholder="nomor hp"
            name="nomor hp"
          />
          <label>email</label>
          <soft-input
            :value="motForm.email"
            @myinput="myinputemail($event)"
            id="email"
            type="text"
            placeholder="email"
            name="email"
          />
          <label>profesi</label>
          <soft-input
            :value="motForm.profesi"
            @myinput="myinputprofesi($event)"
            id="profesi"
            type="text"
            placeholder="profesi"
            name="profesi"
          />
          <label>profesi lainnya</label>
          <soft-input
            :value="motForm.profesi_lainnya"
            @myinput="myinputprofesi_lainnya($event)"
            id="profesi_lainnya"
            type="text"
            placeholder="profesi lainnya"
            name="profesi lainnya"
          />
          <label>jabatan</label>
          <soft-input
            :value="motForm.jabatan"
            @myinput="myinputjabatan($event)"
            id="jabatan"
            type="text"
            placeholder="jabatan"
            name="jabatan"
          />
          <label>pengalaman mengajar</label>
          <soft-input
            :value="motForm.pengalaman_mengajar"
            @myinput="myinputpengalaman_mengajar($event)"
            id="pengalaman_mengajar"
            type="text"
            placeholder="pengalaman mengajar"
            name="pengalaman mengajar"
          />
          <label>pengalaman kerja</label>
          <soft-input
            :value="motForm.pengalaman_kerja"
            @myinput="myinputpengalaman_kerja($event)"
            id="pengalaman_kerja"
            type="text"
            placeholder="pengalaman kerja"
            name="pengalaman kerja"
          />
          <label>nira</label>
          <soft-input
            :value="motForm.nira"
            @myinput="myinputnira($event)"
            id="nira"
            type="text"
            placeholder="nira"
            name="nira"
          />
          <label>no npwp</label>
          <soft-input
            :value="motForm.no_npwp"
            @myinput="myinputno_npwp($event)"
            id="no_npwp"
            type="text"
            placeholder="no npwp"
            name="no npwp"
          />
          <label>sertif pelatihan</label>
          <soft-input
            :value="motForm.sertif_pelatihan"
            @myinput="myinputsertif_pelatihan($event)"
            id="sertif_pelatihan"
            type="text"
            placeholder="sertif pelatihan"
            name="sertif pelatihan"
          />
          <label>sertif tot</label>
          <soft-input
            :value="motForm.sertif_tot"
            @myinput="myinputsertif_tot($event)"
            id="sertif_tot"
            type="text"
            placeholder="sertif tot"
            name="sertif tot"
          />
          <label>sertif pp</label>
          <soft-input
            :value="motForm.sertif_pp"
            @myinput="myinputsertif_pp($event)"
            id="sertif_pp"
            type="text"
            placeholder="sertif pp"
            name="sertif pp"
          />
          <label>str aktif</label>
          <soft-input
            :value="motForm.str_aktif"
            @myinput="myinputstr_aktif($event)"
            id="str_aktif"
            type="text"
            placeholder="str aktif"
            name="str aktif"
          />
          <label>ijazah terakhir</label>
          <soft-input
            :value="motForm.ijazah_terakhir"
            @myinput="myinputijazah_terakhir($event)"
            id="ijazah_terakhir"
            type="text"
            placeholder="ijazah terakhir"
            name="ijazah terakhir"
          />
          <label>File pas foto
            <input type="file" @change="handleFileUpload( $event )"/>
        </label>

          <soft-input
            :value="motForm.pas_foto"
            @myinput="myinputpas_foto($event)"
            id="pas_foto"
            type="text"
            placeholder="pas foto"
            name="pas foto"
          />
          <label>bidang keahlian</label>
          <soft-input
            :value="motForm.bidang_keahlian"
            @myinput="myinputbidang_keahlian($event)"
            id="bidang_keahlian"
            type="text"
            placeholder="bidang keahlian"
            name="bidang keahlian"
          />
          
          <div class="text-center">
            <soft-button
              class="my-4 mb-2"
              variant="gradient"
              color="success"
              full-width
              @click="postMot()"
              >Simpan
            </soft-button>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="
                    text-uppercase text-secondary text-xxs
                    font-weight-bolder
                    opacity-7
                  "
                  v-for="(list, index) in fieldMot" :key="index"
                >
                  {{ list.key }}
                </th>

                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(list, index) in mot" :key="index">
                <td v-for="(listField,indexx) in fieldMot" :key="indexx">
                    <!-- {{ listField }} -->
                  <div class="d-flex px-2 py-1"> 
                    
                    <div class="d-flex flex-column justify-content-center">
                      <img
                      v-if="listField.key == 'pas_foto'"
                        class="w-100 position-relative z-index-2 pt-4"
                        :src="`https://api.projekmhz.xyz/api/foto/${list[listField.key]}`"
                        alt="rocket"
                      />
                      <h6 v-else class="mb-0 text-sm">{{ list[listField.key] }}</h6>
                     
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs text-secondary mb-0">{{ list.urutan }}</p>
                </td>
                <td class="align-middle">
                  <div>
                    <soft-button
                    v-if="role == 'ROLE_ADMIN'"
                      style="margin-right: 2%"
                      class="my-4 mb-2"
                      size="sm"
                      color="warning"
                      @click="formEdit(list)"
                      >Edit
                    </soft-button>
                    <soft-button
                    v-if="role == 'ROLE_ADMIN'"
                      class="my-4 mb-2"
                      size="sm"
                      color="danger"
                      @click="formDelete(list.id)"
                      >Delete
                    </soft-button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import img1 from "../../../assets/img/team-2.jpg";
  import Swal from "sweetalert2/dist/sweetalert2.js";
  import SoftInput from "@/components/SoftInput.vue";
  import SoftButton from "@/components/SoftButton.vue";
  import "sweetalert2/src/sweetalert2.scss";
  import { Actionmot } from "@/store/mot/types";
  
  export default {
    name: "com-table-pelatihan",
    data() {
      return {
        statForm:false,
        users: [],
        role: localStorage.getItem('role'),
        motForm:{
          "nip": "",
          "nama": "",
          "nik": "",
          "jenis_pegawai": "",
          "asal_instansi": "",
          "status_pegawai": "",
          "tempat_lahir": "",
          "tgl_lahir": "",
          "pendidikan_terakhir": "",
          "jurusan_pendidikan": "",
          "jenis_kelamin": "",
          "agama": "",
          "gol": "",
          "provinsi_instansi": "",
          "alamat_kantor": "",
          "alamat_rumah": "",
          "nomor_hp": "",
          "email": "",
          "profesi": "",
          "profesi_lainnya": "",
          "jabatan": "",
          "pengalaman_mengajar": "",
          "pengalaman_kerja": "",
          "nira": "",
          "no_npwp": "",
          "sertif_pelatihan": "",
          "sertif_tot": "",
          "sertif_pp": "",
          "str_aktif": "",
          "ijazah_terakhir": "",
        },
        fieldMot:[],
        mot:[],
        img1,
      };
    },
    components: {
      SoftInput,
      SoftButton,
    },
    created() {
        this.statForm=false;
          this.getAllMot();
    },
    methods: {
        handleFileUpload(event){
            this.motForm.foto = event.target.files[0];;
        },
      myinputNama(isi){
        console.log(isi);
        this.motForm.nama=isi;
      },
      myinputNip(isi){
        console.log(isi);
        this.motForm.nip=isi;
      },
      myinputNik(isi){
        console.log(isi);
        this.motForm.nik=isi;
      },
      myinputjenis_pegawai(isi){
        console.log(isi);
        this.motForm.jenis_pegawai=isi;
      },
      myinputasal_instansi(isi){
        console.log(isi);
        this.motForm.asal_instansi=isi;
      },
      myinputstatus_pegawai(isi){
        console.log(isi);
        this.motForm.status_pegawai=isi;
      },
      myinputtempat_lahir(isi){
        console.log(isi);
        this.motForm.tempat_lahir=isi;
      },
      myinputtgl_lahir(isi){
        console.log(isi);
        this.motForm.tgl_lahir=isi;
      },
      myinputpendidikan_terakhir(isi){
        console.log(isi);
        this.motForm.pendidikan_terakhir=isi;
      },
      myinputjurusan_pendidikan(isi){
        console.log(isi);
        this.motForm.jurusan_pendidikan=isi;
      },
      myinputjenis_kelamin(isi){
        console.log(isi);
        this.motForm.jenis_kelamin=isi;
      },
      myinputagama(isi){
        console.log(isi);
        this.motForm.agama=isi;
      },
      myinputgol(isi){
        console.log(isi);
        this.motForm.gol=isi;
      },
      myinputprov_instansi(isi){
        console.log(isi);
        this.motForm.provinsi_instansi=isi;
      },
      myinputalamat_kantor(isi){
        console.log(isi);
        this.motForm.alamat_kantor=isi;
      },
      myinputalamat_rumah(isi){
        console.log(isi);
        this.motForm.alamat_rumah=isi;
      },
      myinputnomor_hp(isi){
        console.log(isi);
        this.motForm.nomor_hp=isi;
      },
      myinputemail(isi){
        console.log(isi);
        this.motForm.email=isi;
      },
      myinputprofesi(isi){
        console.log(isi);
        this.motForm.profesi=isi;
      },
      myinputprofesi_lainnya(isi){
        console.log(isi);
        this.motForm.profesi_lainnya=isi;
      },
      myinputjabatan(isi){
        console.log(isi);
        this.motForm.jabatan=isi;
      },
      myinputpengalaman_mengajar(isi){
        console.log(isi);
        this.motForm.pengalaman_mengajar=isi;
      },
      myinputpengalaman_kerja(isi){
        console.log(isi);
        this.motForm.pengalaman_kerja=isi;
      },
      myinputnira(isi){
        console.log(isi);
        this.motForm.nira=isi;
      },
      myinputno_npwp(isi){
        console.log(isi);
        this.motForm.no_npwp=isi;
      },
      myinputsertif_pelatihan(isi){
        console.log(isi);
        this.motForm.sertif_pelatihan=isi;
      },
      myinputsertif_tot(isi){
        console.log(isi);
        this.motForm.sertif_tot=isi;
      },
      myinputsertif_pp(isi){
        console.log(isi);
        this.motForm.sertif_pp=isi;
      },
      myinputstr_aktif(isi){
        console.log(isi);
        this.motForm.str_aktif=isi;
      },
      myinputijazah_terakhir(isi){
        console.log(isi);
        this.motForm.ijazah_terakhir=isi;
      },
    async postMot() {
        try {
          if(this.motForm.id === null || this.motForm.id === undefined){
            Swal.showLoading();
            this.motForm.subMenuId = await this.$route.query.id;
            let res = await this.$store.dispatch(`${Actionmot.postmot}`, this.motForm);
            console.log(res);
            location.reload();
            Swal.close();
          }else{
            this.putMot(this.motForm);
          }
           
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    async formDelete(id) {
        Swal.fire({
          title: "Do you want to delete?",
          showDenyButton: true,
          showCancelButton: true,
          confirmButtonText: "delete",
          denyButtonText: `Don't delete`
        }).then(async(result) => {
          console.log(result);
          console.log("result ==========>");
          /* Read more about isConfirmed, isDenied below */
          if (result.value) {
            try {
                Swal.showLoading();
                let res = await this.$store.dispatch(`${Actionmot.delmot}`,id);
                console.log(res);
                if(res.status == 200){
                  await location.reload();
                }
                Swal.close();
              } catch (error) {
                Swal.fire({
                  title: "Error! " + error,
                  text: "Do you want to continue",
                  icon: "error",
                  confirmButtonText: "Close",
                });
              }
              // location.reload();
            Swal.fire("delete!", "", "success");
          } else if (result.isDenied) {
            Swal.fire("Changes are not deleted", "", "info");
          }
        });
      
    },
    formEdit(isi){
      console.log(isi.id);
      console.log(isi);
      console.log("isi ==========>");
      this.statForm = true;
      this.motForm = isi;
      console.log(this.motForm);
    },
    async putMot(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionmot.putmot}`,isi);
        console.log(res);
        this.statForm=await false;
        this.motForm.id = await null;
        await this.getAllMot();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
      
      async getAllMot() {
        try {
          console.log(this.$route.query.id);
          console.log(" =====>");
          Swal.showLoading();
          this.mot=await [];
          let res = await this.$store.dispatch(`${Actionmot.getAllmot}`, this.$route.query.id);
          this.mot = await res.data;
          this.fieldMot = await [];
          if(this.mot.length != 0){
            Object.entries(this.mot[0]).forEach(([key, value]) => {
           console.log(value);
            this.fieldMot.push({key:key});
            });
          }
          
          console.log(this.mot);
          console.log("this.mot ===============>");
          Swal.close();
        } catch (error) {
          Swal.fire({
            title: "Error! " + error,
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Close",
          });
        }
      },
    },
  };
  </script>
  