<template>
  <div class="container top-0 position-sticky z-index-sticky">
    <div class="row">
      <div class="col-12">
        <navbar
          is-blur="blur blur-rounded my-3 py-2 start-0 end-0 mx-4 shadow"
          btn-background="bg-gradient-success"
          :dark-mode="true"
        />
      </div>
    </div>
  </div>
  <main class="mt-0 main-content main-content-bg">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="mx-auto col-xl-4 col-lg-5 col-md-6 d-flex flex-column">
              <div class="mt-8 card card-plain">
                <div class="pb-0 card-header text-start">
                  <h3 class="font-weight-bolder text-success text-gradient">
                    Welcome back
                  </h3>
                  <p class="mb-0">Enter your username and password to sign in</p>
                </div>
                <div class="card-body">
                    <label>Username</label>
                    <soft-input
                      @myinput="myinputUsername($event)"
                      id="username"
                      type="username"
                      placeholder="Username"
                      name="username"
                    />
                    <label>Password</label>
                    <soft-input
                    @myinput="myinputPass($event)"
                      id="password"
                      type="password"
                      placeholder="Password"
                      name="password"
                    />
                    <soft-switch id="rememberMe" name="rememberMe" checked>
                      Remember me
                    </soft-switch>
                    <div class="text-center">
                      <soft-button
                        class="my-4 mb-2"
                        variant="gradient"
                        color="success"
                        full-width
                        @click="signin()"
                        >Sign in
                      </soft-button>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="top-0 oblique position-absolute h-100 d-md-block d-none me-n8"
              >
                <div
                  class="bg-cover oblique-image position-absolute fixed-top h-100 z-index-0"
                  style="margin-left: -34rem;"
                  :style="{
                    backgroundImage:
                      'url(' +
                      require('@/assets/img/curved-images/sideimage.jpg') +
                      ')',
                  }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer />
</template>

<script>
import Navbar from "@/examples/PageLayout/Navbar.vue";
import AppFooter from "@/examples/PageLayout/Footer.vue";
import SoftInput from "@/components/SoftInput.vue";
import SoftSwitch from "@/components/SoftSwitch.vue";
import SoftButton from "@/components/SoftButton.vue";
const body = document.getElementsByTagName("body")[0];
import { mapMutations, mapActions } from "vuex";
import { Actionauth } from "../store/auth/types";

import Swal from 'sweetalert2/dist/sweetalert2.js'

import 'sweetalert2/src/sweetalert2.scss'

export default {
  name: "SignIn",
  components: {
    Navbar,
    AppFooter,
    SoftInput,
    SoftSwitch,
    SoftButton,
  },
  data(){
    return{
      username:"",
      password:""
    }
  },
  created() {
    this.toggleEveryDisplay();
    // this.toggleHideConfig();
    body.classList.remove("bg-gray-100");
  },
  beforeUnmount() {
    this.toggleEveryDisplay();
    // this.toggleHideConfig();
    body.classList.add("bg-gray-100");
  },
  methods: {
    myinputUsername(isi){
      console.log(isi);
      this.username=isi;
    },
    myinputPass(isi){
      console.log(isi);
      this.password=isi;
    },
    async signin(){
      console.log("sini");
      try {
        Swal.showLoading();
        console.log("sini2");
        let res = await this.$store
              .dispatch(`${Actionauth.Login}`, {
                username:this.username,
                password:this.password
              })
        console.log(res);
        Swal.fire({
          title: 'Sukses',
          text: 'Berhasil Login',
          icon: 'success',
          confirmButtonText: 'Oke'
        })
        this.$router.push({name: 'Dashboard'})
      } catch (error) {
        console.log(error);
        Swal.fire({
          title: 'Error! '+error,
          text: 'Do you want to continue',
          icon: 'error',
          confirmButtonText: 'Close'
        })
      }
    },
    ...mapActions(['login']),
    ...mapMutations(["toggleEveryDisplay"]),
  },
};
</script>
