<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-list-pelatihan />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComListPelatihan from '../components/admin/ComListPelatihan.vue';
  
  export default {
    name: "Listpelatihan",
    components: {
        ComListPelatihan,
    },
  };
  </script>
  