<template>
  <div class="py-4 container-fluid">
    <div class="row">
      <div class="col-12">
        <com-table-user />
      </div>
    </div>
  </div>
</template>

<script>
import ComTableUser from '../components/ComTableUser.vue';

export default {
  name: "tableuser",
  components: {
    ComTableUser,
  },
};
</script>
