<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-surat />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableSurat from '../components/admin/ComTableSurat.vue';
  
  export default {
    name: "tableSurat",
    components: {
        ComTableSurat,
    },
  };
  </script>
  