<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-kurikulum />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableKurikulum from '../components/admin/ComTableKurikulum.vue';
  
  export default {
    name: "tableKurikulum",
    components: {
        ComTableKurikulum,
    },
  };
  </script>
  