<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-keuangan />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableKeuangan from '../components/admin/ComTableKeuangan.vue';
  
  export default {
    name: "tableKeuangan",
    components: {
        ComTableKeuangan,
    },
  };
  </script>
  