<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-pelatihan />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTablePelatihan from '../components/admin/ComTablePelatihan.vue';
  
  export default {
    name: "tablepelatihan",
    components: {
        ComTablePelatihan,
    },
  };
  </script>
  