<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-mot />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableMot from '../components/admin/ComTablemot.vue';
  
  export default {
    name: "tableMot",
    components: {
        ComTableMot,
    },
  };
  </script>
  