<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-narasumber />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableNarasumber from '../components/admin/ComTableNarasumber.vue';
  
  export default {
    name: "tableNarasumber",
    components: {
        ComTableNarasumber,
    },
  };
  </script>
  