<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-dokumentasi />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableDokumentasi from '../components/admin/ComTableDokumentasi.vue';
  
  export default {
    name: "tableDokumentasi",
    components: {
        ComTableDokumentasi,
    },
  };
  </script>
  