<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-sertifikat />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableSertifikat from '../components/admin/ComTableSertifikat.vue';
  
  export default {
    name: "tableSertifikat",
    components: {
        ComTableSertifikat,
    },
  };
  </script>
  