<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-peserta />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTablePeserta from '../components/admin/ComTablePeserta.vue';
  
  export default {
    name: "tablePeserta",
    components: {
        ComTablePeserta,
    },
  };
  </script>
  