<template>
    <div class="py-4 container-fluid">
      <div class="row">
        <div class="col-12">
          <com-table-masterjenis />
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import ComTableMasterjenis from '../components/admin/ComTableMasterjenis.vue';
  
  export default {
    name: "tableMasterjenis",
    components: {
      ComTableMasterjenis,
    },
  };
  </script>
  