<template>
  <div class="card mb-4">
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
                <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Peserta
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Nomor Undian
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Alamat
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in pesertas" :key="index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <soft-avatar
                      :img="img1"
                      size="sm"
                      border-radius="lg"
                      class="me-3"
                      alt="user1"
                    />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama_peserta }}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.nomor_undian }}</p>
              </td>
              <td>
                <p class="text-xs text-secondary mb-0">{{ list.alamat }}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SoftAvatar from "@/components/SoftAvatar.vue";
import img1 from "../../../assets/img/team-2.jpg";

export default {
  name: "TableUndianPeserta",
  props:{
      pesertas:Array
  },
  data() {
    return {
      statFormPeserta:false,
      formPeserta:{
        nomor_undian:"",
        nama_peserta:"",
        alamat:"",
        createdBy:""
      },
      img1,
    };
  },
  components: {
    SoftAvatar,
  },
};
</script>
