<template>
  <div class="card mb-4">
    <div class="card-header pb-0">
      <h6>Manajemen User</h6>
      <soft-button class="my-4 mb-2" size="sm" color="info" @click="statFormUser = !statFormUser"
        >Tambah User
      </soft-button>
      <div class="card-body" v-if="statFormUser">
        <label>Username</label>
        <soft-input
          :value="formUser.username"
          @myinput="myinputUsername($event)"
          id="username"
          type="username"
          placeholder="Username"
          name="username"
        />
        <label>Name</label>
        <soft-input
          :value="formUser.nama"
          @myinput="myinputName($event)"
          id="name"
          type="name"
          placeholder="Name"
          name="name"
        />
        <label>Email</label>
        <soft-input
          :value="formUser.email"
          @myinput="myinputEmail($event)"
          id="email"
          type="email"
          placeholder="Email"
          name="email"
        />
        <label>Password</label>
        <soft-input
          :value="formUser.password"
          @myinput="myinputPass($event)"
          id="password"
          type="password"
          placeholder="Password"
          name="password"
        />
        <div class="text-center">
          <soft-button
            class="my-4 mb-2"
            variant="gradient"
            color="success"
            full-width
            @click="postUser()"
            >Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                "
              >
                Nama
              </th>
              <th
                class="
                  text-uppercase text-secondary text-xxs
                  font-weight-bolder
                  opacity-7
                  ps-2
                "
              >
                Username
              </th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(list, index) in users" :key="index">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <soft-avatar
                      :img="img1"
                      size="sm"
                      border-radius="lg"
                      class="me-3"
                      alt="user1"
                    />
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ list.nama }}</h6>
                    <p class="text-xs text-secondary mb-0">
                      {{ list.email }}
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">User</p>
                <p class="text-xs text-secondary mb-0">{{ list.username }}</p>
              </td>
              <td class="align-middle">
                <div>
                  <soft-button
                    style="margin-right: 2%"
                    class="my-4 mb-2"
                    size="sm"
                    color="warning"
                    @click="formEdit(list)"
                    >Edit
                  </soft-button>
                  <soft-button
                    class="my-4 mb-2"
                    size="sm"
                    color="danger"
                    @click="delUser(list.id)"
                    >Delete
                  </soft-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import SoftAvatar from "@/components/SoftAvatar.vue";
import img1 from "../../assets/img/team-2.jpg";
import Swal from "sweetalert2/dist/sweetalert2.js";
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";

import "sweetalert2/src/sweetalert2.scss";
import { Actionuser } from "../../store/manajemen_user/types";

export default {
  name: "com-table-user",
  data() {
    return {
      statFormUser:false,
      users: [],
      formUser:{
        username:'',
        nama:'',
        email:'',
        password:'',
        roles:['user']
      },
      img1,
    };
  },
  components: {
    SoftInput,
    SoftButton,
    SoftAvatar,
  },
  created() {
    this.getAllUser();
  },
  methods: {
    formEdit(isi){
      console.log(isi.id);
      this.statFormUser = true;
      this.formUser = isi;
      this.formUser.roles=isi.roles[0].name;
    },
    myinputUsername(isi){
      console.log(isi);
      this.formUser.username=isi;
    },
    myinputName(isi){
      console.log(isi);
      this.formUser.nama=isi;
    },
    myinputEmail(isi){
      console.log(isi);
      this.formUser.email=isi;
    },
    myinputPass(isi){
      console.log(isi);
      this.formUser.password=isi;
    },
    async postUser() {
      try {
        console.log(this.formUser.id);
        if(this.formUser.id === undefined || this.formPeserta.id === null){
          Swal.showLoading();
          let res = await this.$store.dispatch(`${Actionuser.postUser}`, this.formUser);
          console.log(res);
          await this.getAllUser();
          this.statFormUser=await false;
          Swal.close();
        }else{
          this.putUser(this.formUser);
        }
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async delUser(id) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionuser.delUser}`,id);
        console.log(res);
        this.formUser.id = await null;
        await this.getAllUser();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putUser(isi) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionuser.putUser}`,isi);
        console.log(res);
        this.statFormUser=await false;
        this.formUser.id = await null;
        await this.getAllUser();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async getAllUser() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(`${Actionuser.getAllUser}`);
        this.users = await res.data;
        console.log(res);
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>
