<template>
  <div>
    <div class="card-header mb-3">
      <soft-button
        class="my-4 mb-2"
        size="sm"
        color="info"
        @click="statFormUndian = !statFormUndian"
        >Tambah Undian
      </soft-button>
      <div class="card-body" v-if="statFormUndian">
        <label>Judul Undian</label>
        <soft-input
          :value="formUndian.judul"
          @myinput="judulundian($event)"
          id="judulundian"
          type="judulundian"
          placeholder="judulundian"
          name="judulundian"
        />
        <label>Nama Perusahaan Undian</label>
        <soft-input
          :value="formUndian.company_name"
          @myinput="companyname($event)"
          id="companyname"
          type="companyname"
          placeholder="companyname"
          name="companyname"
        />
        <label>Email</label>
        <soft-input
          :value="formUndian.email_address"
          @myinput="emailaddress($event)"
          id="emailaddress"
          type="email"
          placeholder="emailaddress"
          name="emailaddress"
        />
        <label>Code Number</label>
        <soft-input
          :value="formUndian.code_number"
          @myinput="codenumber($event)"
          id="codenumber"
          type="codenumber"
          placeholder="codenumber"
          name="codenumber"
        />
        <div class="text-center">
          <soft-button
            v-if="formUndian.id != undefined && formUndian.id != null"
            class="my-4 mb-2"
            variant="gradient"
            color="danger"
            full-width
            @click="clearForm()"
            >Clear form
          </soft-button>
          <soft-button
            class="my-4 mb-2"
            variant="gradient"
            color="success"
            full-width
            @click="postUndian()"
            >Simpan
          </soft-button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header pb-0 px-3">
        <h6 class="mb-0">{{ title }}</h6>
      </div>
      <div class="card-body pt-4 p-3">
        <ul class="list-group">
          <li
            v-for="(list, index) of listUndian"
            :key="index"
            type="button"
            @click="pageNext(list.id)"
            class="
              list-group-item
              border-0
              d-flex
              p-4
              mb-2
              bg-gray-100
              border-radius-lg
            "
          >
            <div class="d-flex flex-column">
              <h6 class="mb-3 text-sm">{{ list.judul }}</h6>
              <span class="mb-2 text-xs">
                Company Name:
                <span class="text-dark font-weight-bold ms-sm-2">
                  {{ list.company_name }}</span
                >
              </span>
              <span class="mb-2 text-xs">
                Email Address:
                <span class="text-dark ms-sm-2 font-weight-bold">
                  {{ list.email_address }}</span
                >
              </span>
              <span class="text-xs">
                Code Number:
                <span class="text-dark ms-sm-2 font-weight-bold">{{
                  list.code_number
                }}</span>
              </span>
            </div>
            <div class="ms-auto text-end">
              <a
                @click="delUndian(list.id)"
                class="btn btn-link text-danger text-gradient px-3 mb-0"
                href="javascript:;"
              >
                <i class="far fa-trash-alt me-2" aria-hidden="true"></i>Delete
              </a>
              <a
                @click="formEdit(list)"
                class="btn btn-link text-dark px-3 mb-0"
                href="javascript:;"
              >
                <i
                  class="fas fa-pencil-alt text-dark me-2"
                  aria-hidden="true"
                ></i
                >Edit
              </a>
              <a
                @click="pageNext(list.id)"
                    class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto"
                    href="javascript:;"
                  >
                    Buka
                    <i
                      class="fas fa-arrow-right text-sm ms-1"
                      aria-hidden="true"
                    ></i>
                  </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import SoftInput from "@/components/SoftInput.vue";
import SoftButton from "@/components/SoftButton.vue";
import Swal from "sweetalert2/dist/sweetalert2.js";
import { ActionUndian } from "../../store/undian/types";

import "sweetalert2/src/sweetalert2.scss";
export default {
  components: {
    SoftButton,
    SoftInput,
  },
  data() {
    return {
      statFormUndian: false,
      listUndian: [],
      formUndian: {
        judul: "",
        company_name: "",
        email_address: "",
        code_number: "",
        userId: "",
        created_by: "",
      },
    };
  },
  created() {
    this.getListUndian();
  },
  methods: {
      pageNext(id){
          this.$router.push({name:"Undian",query:{id:id}})
      },
    clearForm() {
        this.formUndian={}
    },
    formEdit(isi) {
      console.log(isi.id);
      this.statFormUndian = true;
      this.formUndian = isi;
    },
    judulundian(isi) {
      console.log(isi);
      this.formUndian.judul = isi;
    },
    emailaddress(isi) {
      console.log(isi);
      this.formUndian.email_address = isi;
    },
    companyname(isi) {
      console.log(isi);
      this.formUndian.company_name = isi;
    },
    codenumber(isi) {
      console.log(isi);
      this.formUndian.code_number = isi;
    },
    async getListUndian() {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(
          `${ActionUndian.getAllJudulUndian}`,
          localStorage.getItem("idUser")
        );
        this.listUndian = await res.data;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async postUndian() {
      try {
        Swal.showLoading();
        this.formUndian.created_by = await localStorage.getItem("idUser");
        this.formUndian.userId = await localStorage.getItem("idUser");
        if (this.formUndian.id === undefined || this.formUndian.id === null) {
          let res = await this.$store.dispatch(
            `${ActionUndian.postJudulUndian}`,
            this.formUndian
          );
          this.listUndian = await res.data;
        } else {
          this.putUndian(this.formUndian);
        }
        this.getListUndian();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async delUndian(id) {
      try {
        Swal.showLoading();
        let res = await this.$store.dispatch(
          `${ActionUndian.delJudulUndian}`,
          id
        );
        console.log(res);
        await this.getListUndian();
        this.formUndian.id = await null;
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
    async putUndian(isi) {
      try {
        Swal.showLoading();
        isi.createdBy = await localStorage.getItem("idUser");
        let res = await this.$store.dispatch(
          `${ActionUndian.putJudulUndian}`,
          isi
        );
        console.log(res);
        this.statFormUndian = await false;
        this.formUndian.id = await null;
        await this.getListUndian();
        Swal.close();
      } catch (error) {
        Swal.fire({
          title: "Error! " + error,
          text: "Do you want to continue",
          icon: "error",
          confirmButtonText: "Close",
        });
      }
    },
  },
};
</script>